Repository nanoframework/nf-interpreter, pull requests merged in 2018-05, with the labels that each got.

#677 Work on STM32 SPI implementation
  CMake/Modules/FindWindows.Devices.Spi.cmake
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Include/nanoCLR_Hardware.h
  src/CLR/Include/nanoCLR_Runtime.h
  src/HAL/Include/nanoHAL_v2.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/target_windows_devices_spi_config.cpp
Labels: area-Interpreter, area-Targets-ChibiOS, enhancement, merge OK

#678 Aligned ChibiOS target config files with latest version
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
Labels: area-Config-and-Build, area-Targets-ChibiOS, merge OK

#679 Improvements in ChibiOS SPI native
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_spi_config.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
Labels: Area: Targets-ChibiOS, Type: enhancement

#683 Remove unused declarations from STM32 SPI declarations
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.h
Labels: Area: Config-and-Build

#684 Implement RTC SetSystemTime
  appveyor.yml
  targets/FreeRTOS/ESP32_DevKitC/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLR_RT_InteropAssembliesTable.cpp.in
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_RTC.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
Labels: Area: Targets-ESP32, Type: enhancement

#682 Updated the setup procedure for the ESP32 development
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: Area: Targets-ESP32, documentation

#686 Work on STM32 SPI
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
Labels: Area: Targets-ChibiOS, Type: bug

#689 General improvements in STM32 USB code
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_HAL_Interface.c
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_ReceiverThread.c
Labels: Area: Targets-ChibiOS, Type: enhancement

#691 Improvements in ESP32 related docs
  .vscode/tasks.TEMPLATE-ESP32.json
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: Area: Targets-ESP32, documentation

#690 Work on PAL events and PAL time
  src/PAL/AsyncProcCall/AsyncCompletions.cpp
  src/PAL/AsyncProcCall/Async_stubs.cpp
  src/PAL/Include/nanoPAL_AsyncProcCalls_decl.h
  src/PAL/Include/nanoPAL_Time.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp.groups.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Time.cpp
Labels: Area: Interpreter, Area: Targets-ChibiOS, Area: Targets-ESP32, Type: enhancement

#692 Add performance counters stubs
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/Diagnostics/Profile.cpp
  src/CLR/Include/nanoCLR_PlatformDef.h
  src/PAL/Include/nanoPAL.h
  src/PAL/Include/nanoPAL_PerformanceCounters.h
  src/PAL/Profiler/nanoPAL_PerformanceCounters_stubs.cpp
Labels: Area: Interpreter, Type: enhancement

#693 Improvements in GC heap management
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector_Info.cpp
  src/CLR/Include/nanoCLR_PlatformDef.h
  src/CLR/Include/nanoCLR_Runtime.h
  targets/CMSIS-OS/common/CMakeLists.txt
  targets/CMSIS-OS/common/syscalls.c
Labels: Area: Config-and-Build, Area: Interpreter, Type: enhancement

#680 Update STM32 FPU GCC option
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
Labels: Area: Config-and-Build, Area: Targets-ChibiOS, Type: enhancement

#695 Work on scheduler, CLR events and sys time related code
  src/HAL/Include/nanoHAL_Time.h
  src/HAL/Include/nanoHAL_v2.h
  src/PAL/AsyncProcCall/AsyncCompletions.cpp
  src/PAL/AsyncProcCall/Async_stubs.cpp
  src/PAL/Include/nanoPAL_AsyncProcCalls_decl.h
  src/PAL/Include/nanoPAL_Events.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL_Power.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/STM32F429xI_CLR.ld
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_NativeEventDispatcher.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Time.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL_Power.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_NativeEventDispatcher.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp.groups.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Time.cpp
  targets/os/win32/nanoCLR/Events.cpp
  targets/os/win32/nanoCLR/Various.cpp
  targets/os/win32/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_NativeEventDispatcher.cpp
  targets/os/win32/nanoCLR/targetHAL_Time.cpp
Labels: Area: Interpreter, Area: Targets-ChibiOS, Area: Targets-ESP32, Type: enhancement

#696 Improvements on Time_Uninitialize
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Time.cpp
Labels: Area: Targets-ChibiOS, Area: Targets-ESP32, Type: enhancement

#697 Improvements GC
  src/CLR/Core/GarbageCollector.cpp
  src/CLR/Include/nanoCLR_PlatformDef.h
Labels: Area: Interpreter, Type: enhancement

#698 Remove UpdateTime from Engine
  src/CLR/Core/CLR_RT_HeapBlock_Timer.cpp
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector_Info.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Area: Interpreter, Type: enhancement

#699 Update GPIO to add support for toggle
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
Labels: Area: Targets-ChibiOS, Area: Targets-ESP32, Type: enhancement

#700 Fix issues with ESP32 time and event functions
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL_Time.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Time.cpp
Labels: Area: Targets-ESP32, Type: bug

#685 Improvements in STM32 I2C class lib code
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
Labels: Area: Targets-ChibiOS, Type: enhancement

#702 Revert change of managed heap back to external RAM
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/STM32F429xI_CLR.ld
Labels: Area: Config-and-Build, Area: Targets-ChibiOS

#703 Fix ESP32 Gpio toggle
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
Labels: Area: Targets-ESP32, Type: bug

#704 Update win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
Labels: Area: Targets-ESP32, Type: enhancement

#705 Improve RAM allocation
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
Labels: Area: Infrastructure-and-Organization, Area: Targets-ChibiOS, Type: enhancement

#710 Add WP command to list interop native assemblies
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger.h
  src/CLR/Debugger/Debugger_full.cpp
  src/CLR/Include/WireProtocol_MonitorCommands.h
  src/CLR/Include/nanoCLR_Debugging.h
Labels: Area: Interpreter, Type: enhancement

#711 SPI: Use the max clock frequency if unset (#327)
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiBusInfo.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
Labels: Area: Targets-ESP32, Type: bug

#713 Add version to native assemblies declaration
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/Include/nanoCLR_Interop.h
  src/CLR/Runtime.Native/nf_rt_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Net/sys_net_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Adc/win_dev_adc_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/System.Net/sys_net_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Adc/win_dev_adc_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Wifi/win_dev_wifi_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
  targets/os/win32/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/os/win32/nanoCLR/Windows.Devices.Spi/win_dev_spi_native.cpp
  targets/os/win32/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native.cpp
  targets/os/win32/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
Labels: Area: Config-and-Build, Area: Targets-ChibiOS, Area: Targets-ESP32, Area: Targets-WIN32, Type: enhancement

#708 Update board.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/board.h
Labels: Area: Targets-ChibiOS, Type: enhancement

#714 Move command to list native interop assemblies to QueryCLRCapabilities
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger.h
  src/CLR/Debugger/Debugger_full.cpp
  src/CLR/Include/WireProtocol_MonitorCommands.h
  src/CLR/Include/nanoCLR_Debugging.h
Labels: Area: Interpreter, Type: enhancement

#709 Fix bug with unwanted read or write after I2C operation
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
Labels: Area: Targets-ChibiOS, Type: bug
