Repository nanoframework/nf-interpreter, pull requests merged in 2018-03, with the labels that each got.

#633 Develop target specific call
  src/HAL/Include/nanoHAL.h
Labels: area-Interpreter, enhancement

#635 Correct code reading Gpio value
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
Labels: area-Targets-ChibiOS, bug

#636 Fix wrong button check in booter (STM32F4 disco)
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
Labels: area-Targets-ChibiOS, bug

#637 BUILD_VERSION wasn't being set on batch builds of STM32 targets
  appveyor.yml
Labels: area-Config-and-Build

#638 Support for serial on F4 Discovery board
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_serialcommunication_config.cpp
Labels: area-Targets-ChibiOS, enhancement

#639 Add support for configuration block in flash
  src/PAL/Include/nanoPAL_BlockStorage.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/mbn_quail_booter.ld
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mbn_quail_CLR.ld
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/netduino3wifi_booter.ld
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/netduino3wifi_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/STM32F746xG_booter.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/STM32F746xG_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/STM32F091xC_booter.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/STM32F091xC_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/STM32F429xI_booter.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/STM32F429xI_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/STM32F407xG_booter.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/STM32F407xG_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/STM32F76xx_booter.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/STM32F76xx_CLR.ld
  targets/CMSIS-OS/ChibiOS/common/rules_data.ld
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
Labels: area-Config-and-Build, area-Infrastructure-and-Organization, area-Interpreter, area-Targets, enhancement

#640 Fix STM32F7 loader files
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/STM32F746xG_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/STM32F76xx_CLR.ld
Labels: area-Targets-ChibiOS, bug

#641 Fix var name for config block
  targets/CMSIS-OS/ChibiOS/common/rules_data.ld
Labels: area-Targets-ChibiOS, bug

#643 Work on random number generator
  src/CLR/Core/Random.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetRandom.cpp
Labels: area-Interpreter, area-Targets, enhancement

#644 Correct code writing single bytes to flash
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
Labels: area-Targets-ChibiOS, bug

#645 Various fixes for ESP32
  appveyor.yml
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: area-Targets-ESP32

#646 Fix and update for STM32 flash driver
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
Labels: area-Targets-ChibiOS, bug, enhancement

#648 Add suport for ConfigBlockRequiresErase flag in Capabilities
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/os/win32/Include/targetHAL.h
Labels: area-Config-and-Build, area-Interpreter, area-Targets, enhancement

#651 Fix compiler warnings related with missing declarations
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_v2.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLR_Startup_Thread.c
Labels: area-Config-and-Build, area-Interpreter, enhancement

#652 add-optional-override-for-trng
  CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
Labels: area-Config-and-Build, area-Interpreter

#654 Improvements in STM32 hard fault handler code
  targets/CMSIS-OS/ChibiOS/common/hard_fault_handler.c
Labels: area-Targets-ChibiOS, enhancement

#656 Various board updates for Netduino 3 Wifi
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/board.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_adc_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_serialcommunication_config.cpp
Labels: area-Targets-ChibiOS, enhancement
