Repository nanoframework/nf-interpreter, pull requests merged in 2018-08, with the labels that each got.

#810 Update mscorlib signature for 1.0.0.0-preview60
  src/CLR/CorLib/corlib_native.cpp
Labels: Area: Config-and-Build

#809 Replace newlib nano printf with slim version
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/CorLib/CorLib.h
  src/CLR/CorLib/corlib_native_System_Globalization_DateTimeFormat.cpp
  src/CLR/CorLib/corlib_native_System_Number.cpp
  src/CLR/CorLib/corlib_native_System_Reflection_Assembly.cpp
  src/CLR/Diagnostics/Diagnostics.h
  src/CLR/Diagnostics/Diagnostics_stub.cpp
  src/CLR/Diagnostics/Info.cpp
  src/CLR/Helpers/TinyPrintf/printf.c
  src/CLR/Helpers/TinyPrintf/printf.h
  src/PAL/Include/nanoPAL.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoCRT.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoCRT.cpp
Labels: Area: Infrastructure-and-Organization, Area: Interpreter, Area: Targets, Type: enhancement, do not merge

#813 Fix tiny printf implementation
  src/CLR/Diagnostics/Info.cpp
  src/CLR/Helpers/TinyPrintf/printf.c
  src/CLR/Helpers/TinyPrintf/printf.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoCRT.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoCRT.cpp
Labels: Area: Corlib, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: bug

#814 Update mscorlib signature for 1.0.0.0-preview62
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
Labels: Area: Config-and-Build

#815 Fix ToString for doubles and floats
  src/CLR/CorLib/corlib_native_System_Number.cpp
Labels: Area: Corlib, Type: bug

#808 Independent watchdog skeleton definitions
  CMake/Modules/FindNF_CoreCLR.cmake
  src/HAL/Include/nanoHAL_Watchdog.h
  src/HAL/nanoHAL_Watchdog.c
  targets/CMSIS-OS/ChibiOS/Include/targetHAL_Watchdog.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Watchdog.c
Labels: Area: Corlib, Area: Targets-STM32-ChibiOS, Type: enhancement

#816 Fix number conversion
  src/CLR/CorLib/corlib_native_System_Number.cpp
Labels: Area: Corlib, Type: bug

#817 Improve output of GCC size utility
  CMake/toolchain.ChibiOS.GCC.cmake
Labels: Area: Config-and-Build

#818 Config changes
  src/HAL/Include/nanoHAL_Network.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_ConfigurationManager.cpp
Labels: Area: Targets-ESP32, Type: bug

#819 Merge watchdog branch
  CMake/Modules/FindNF_CoreCLR.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  src/CLR/Core/Execution.cpp
  src/CLR/Diagnostics/Info.cpp
  src/CLR/Messaging/Messaging.cpp
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_Watchdog.h
  src/HAL/Include/nanoHAL_v2.h
  src/HAL/nanoHAL_Watchdog.c
  targets/CMSIS-OS/ChibiOS/Include/targetHAL_Watchdog.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.h.in
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_common.h.in
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_common.h.in
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_common.h.in
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_common.h.in
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_common.h.in
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Watchdog.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
  targets/os/win32/nanoCLR/PAL/Watchdog_stubs.cpp
  targets/os/win32/nanoCLR/WatchDog.cpp
Labels: Area: Corlib, Area: Targets, Type: enhancement

#820 Improve USE_RNG build option
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#821 Fix setting of compiler definition for RTM
  CMake/toolchain.ChibiOS.GCC.cmake
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS

#822 Improvements in compiler and build options for STM32 targets
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS

#823 Rework system math implementation
  src/CLR/CorLib/corlib_native_System_Math.cpp
  src/PAL/Double/nanoPAL_NativeDouble.cpp
  src/PAL/Include/nanoPAL_NativeDouble.h
Labels: Area: Corlib, Type: bug, Type: enhancement

#824 Fix ESP32 native events
  CMake/Modules/FindnanoFramework.Runtime.Events.cmake
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
Labels: Area: Config-and-Build, Area: Targets-ESP32, Type: bug

#825 Fix CMake for nanoFramework.Hardware.Esp32
  CMake/Modules/FindnanoFramework.Hardware.Esp32.cmake
Labels: Area: Config-and-Build, Area: Targets-ESP32

#827 Rework math calls
  src/CLR/CorLib/corlib_native_System_Math.cpp
Labels: Area: Interpreter, Type: bug

#829 Add back GenericPort_Write to ESP32
  targets/FreeRTOS/ESP32_DevKitC/common/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/common/GenericPort.cpp
Labels: Area: Targets-ESP32, Type: enhancement

#830 Improve posting of managed events
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#831 Implemented WatchChar in ESP32
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Targets-ESP32, Type: enhancement

#832 Move CLR_SETTINGS to targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLR_Startup_Thread.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Area: Targets-WIN32, Type: enhancement

#833 Move runtime.events code to CLR
  CMake/Modules/FindnanoFramework.Runtime.Events.cmake
  src/CLR/Runtime.Events/nf_rt_events_native.cpp
  src/CLR/Runtime.Events/nf_rt_events_native.h
  src/CLR/Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
  src/CLR/Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_NativeEventDispatcher.cpp
  src/CLR/Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_WeakDelegate.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_EventSink.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_NativeEventDispatcher.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Events/nf_rt_events_native_nanoFramework_Runtime_Events_WeakDelegate.cpp
Labels: Area: Config-and-Build
