Repository nanoframework/nf-interpreter, pull requests merged in 2018-07, with the labels that each got.

#784 Add support for configurable Wire Protocol packet size
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/WireProtocol.h
  src/CLR/Include/WireProtocol_App_Interface.h
  src/CLR/WireProtocol/WireProtocol_Message.c
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
Labels: Area: Interpreter, Area: Targets, Type: enhancement

#785 Add support for target reporting if it has nanoBooter
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/os/win32/Include/targetHAL.h
Labels: Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Area: Targets-WIN32, Type: enhancement

#786 Fix typo in function name
  src/CLR/Runtime.Native/nf_rt_native.cpp
  src/CLR/Runtime.Native/nf_rt_native.h
  src/CLR/Runtime.Native/nf_rt_native_nanoFramework_Runtime_Hardware_SystemInfo.cpp
Labels: Area: Interpreter, Type: bug

#787 Updates required by ChibiOS fixes
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/chconf.h
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#789 Fix ChibiOS ADCv2 config struct
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Adc/win_dev_adc_native_Windows_Devices_Adc_AdcChannel.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#788 Update configs to add more peripherals to STM32F091
  get-stm32-targets-to-build.ps1
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_windows_devices_i2c_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_windows_devices_serialcommunication_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_windows_devices_spi_config.cpp
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#790 Move booter blinker thread code to main loop
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#792 Fix CMakes for ChibiOS sources
  CMake/Modules/CHIBIOS_STM32F0xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_sources.cmake
  CMake/Modules/FindCHIBIOS.cmake
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#793 Update ChibiOS config files for STM32F091RC target
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/mcuconf.h
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#794 Correct comment about heap for STM32 targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#798 Update GCC options for STM32L0 series
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#799 Clean-up messaging class
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Hardware.h
  src/CLR/Include/nanoCLR_Messaging.h
  src/CLR/Include/nanoCLR_Runtime.h
  src/CLR/Messaging/Messaging.cpp
  src/CLR/Messaging/Messaging_stub.cpp
  src/HAL/Include/nanoHAL_v2.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_common.c
  targets/FreeRTOS/ESP32_DevKitC/target_common.c
  targets/os/win32/nanoCLR/Various.cpp
Labels: Area: Corlib, Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Area: Targets-WIN32, Type: enhancement

#801 Flash erase fix
  targets/FreeRTOS/ESP32_DevKitC/common/Target_BlockStorage_ESP32FlashDriver.c
Labels: Area: Targets-ESP32, Type: bug

#803 Fix I2c issues
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
Labels: Area: Targets-ESP32, Type: bug

#804 Add new Guid and random for Esp32
  src/CLR/CorLib/corlib_native_System_Guid.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetRandom.cpp
Labels: Area: Corlib, Area: Targets-ESP32, Type: enhancement

#805 Remove USE_FPU option
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#806 Remove unused files
  src/PAL/COM/sockets/ssl/mbedTls/MbedTls.cpp
  src/PAL/COM/sockets/ssl/mbedTls/MbedTls.h
  src/PAL/COM/sockets/ssl/mbedTls/MbedTls_parse_certificate.cpp
Labels: Area: Config-and-Build

#807 Work on mbed TLS parse certificate
  src/PAL/COM/sockets/ssl/mbedTLS/mbedtls_config.h
  src/PAL/COM/sockets/ssl/mbedTLS/mbedtls_parse_certificate.cpp
  src/PAL/COM/sockets/ssl/ssl.cpp
  src/PAL/COM/sockets/ssl/ssl_stubs.cpp
  src/PAL/Include/nanoPAL_Sockets.h
Labels: Area: Corlib, Status: under review, Type: enhancement
