Repository nanoframework/nf-interpreter, pull requests merged in 2018-09, with the labels that each got.

#836 Fix single precision Truncate___STATIC__R4__R4
  src/CLR/CorLib/corlib_native_System_Math.cpp
Labels: Area: Corlib, Type: bug

#839 Fix Math.Round
  src/CLR/CorLib/corlib_native_System_Math.cpp
Labels: Area: Corlib, Type: bug

#840 Fix Random.Next returns negative numbers #405
  src/CLR/CorLib/corlib_native_System_Random.cpp
Labels: Area: Corlib, Type: bug

#838 SNTP fixes for ESP32
  targets/FreeRTOS/ESP32_DevKitC/Network/targetHAL_Network.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/target_lwip_sntp_opts.h
Labels: Area: Targets-ESP32, Type: enhancement

#841 Fix for double.ToString() and float.ToString()
  src/CLR/CorLib/corlib_native_System_Number.cpp
Labels: Area: Corlib, Type: bug

#843 Fix Appveyor build options for ESP32
  CMake/Modules/FindWindows.Devices.WiFi.cmake
  appveyor.yml
Labels: Area: Config-and-Build

#844 Add native implementation of resource utility
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/Runtime.Native/nf_rt_native.cpp
  src/CLR/Runtime.Native/nf_rt_native.h
  src/CLR/Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_ResourceUtility.cpp
Labels: Area: Corlib, Type: enhancement

#848 The format for 64bit values is "ll" not "l"
  src/CLR/CorLib/corlib_native_System_Number.cpp
Labels: Area: Corlib, Type: bug

#847 Uncommented the CLR_RT_TypeSystem::FindTypeDef functionality
  src/CLR/Core/TypeSystem.cpp
Labels: Area: Corlib, Type: bug

#846 Fix: Unable to start debug session on ESP32 when using SerialCommunication
  targets/FreeRTOS/ESP32_DevKitC/common/GenericPort.cpp
Labels: Area: Targets-ESP32, Type: enhancement

#849 Fix for issue 403: type.GetMethods returns also static methods of the base class
  src/CLR/CorLib/corlib_native_System_Type.cpp
Labels: Area: Corlib, Type: bug

#850 Fix for issue #409: NativeToDouble doesn't support the "e"/"E" exponential char
  src/CLR/CorLib/corlib_native_System_Convert.cpp
Labels: Area: Corlib, Type: bug

#852 Fix for issue #390: object.GetHashCode not working
  src/CLR/Core/CLR_RT_HeapBlock.cpp
Labels: Area: Corlib, Status: DONE, Type: bug

#854 Update mscorlib signature for 1.0.0.0-preview73
  src/CLR/CorLib/corlib_native.cpp
Labels: Area: Config-and-Build, Area: Corlib

#855 Fix Convert::NativeToInt64 for multiple base conversions
  src/CLR/CorLib/corlib_native_System_Convert.cpp
Labels: Area: Corlib, Type: bug

#853 Enable SUPPORT_ANY_BASE_CONVERSION for ESP32 targets
  appveyor.yml
Labels: Area: Config-and-Build, Area: Targets-ESP32

#857 Fix enumeration of config blocks when device has no config block
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/common/targetHAL_ConfigurationManager.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#859 Fix defines for STM32 series in several locations
  targets/CMSIS-OS/ChibiOS/Include/targetPAL.h
  targets/CMSIS-OS/ChibiOS/common/hard_fault_handler.c
  targets/CMSIS-OS/ChibiOS/common/nanoSupport_CRC32.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/hal_community.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_rng/hal_stm32_rng.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS

#860 Implement NF_FEATURE_HAS_CONFIG_BLOCK build feature
  CMake/ChibiOS_target_os.h.in
  CMake/ESP32_target_os.h.in
  CMake/Modules/FindNF_CoreCLR.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
  src/CLR/Debugger/Debugger.cpp
  src/HAL/nanoHAL_ConfigurationManager_stubs.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/common/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
Labels: Area: Config-and-Build, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#835 Update BUILD_ESP32.md and add automated install of tools required for build
  .vscode/launch.TEMPLATE-ESP32.json
  .vscode/launch.TEMPLATE.json
  .vscode/tasks.TEMPLATE-ESP32.json
  Set-PathVariable.ps1
  cmake-variants.TEMPLATE-ESP32.json
  install-esp32-openocd.ps1
  install-esp32-toolchain.ps1
  install-esp32-tools.ps1
  install-stm32-tools.ps1
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: Area: Config-and-Build, Status: under review, documentation

#861 remove obsolete parameter BOARD_NAME
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: documentation

#862 Fix STM32 series defines throughout the code
  targets/CMSIS-OS/ChibiOS/Include/targetPAL.h
  targets/CMSIS-OS/ChibiOS/common/hard_fault_handler.c
  targets/CMSIS-OS/ChibiOS/common/nanoSupport_CRC32.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#865 Add support for GetCustomAttributes
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Reflection_ConstructorInfo.cpp
  src/CLR/CorLib/corlib_native_System_Reflection_FieldInfo.cpp
  src/CLR/CorLib/corlib_native_System_Reflection_RuntimeMethodInfo.cpp
  src/CLR/CorLib/corlib_native_System_RuntimeType.cpp
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Area: Corlib, Type: enhancement
