Repository nanoframework/nf-interpreter, pull requests merged in 2018-02, with the labels that each got.

#605 Fix serial com Store() delay
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: area-Targets-ChibiOS, bug

#606 Add noreturn attribute to thread function
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_ReceiverThread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
Labels: area-Targets-ChibiOS, enhancement

#607 Rework code for Serial ouput stream Store
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: area-Targets-ChibiOS, bug

#608 Work on native events
  src/CLR/Core/Execution.cpp
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_v2.h
  src/PAL/AsyncProcCall/AsyncCompletions.cpp
  src/PAL/Include/nanoPAL_Events.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL_Power.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL_Power.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/os/win32/Include/TargetPAL_BlockStorage.h
  targets/os/win32/Include/targetHAL.h
Labels: area-Interpreter, area-Targets, enhancement

#609 Add debugger minimal for RTM
  CMake/Modules/FindNF_Debugger.cmake
  src/CLR/Debugger/Debugger_minimal.cpp
Labels: area-Config-and-Build, area-Interpreter, enhancement

#610 Correct implementation of Debugging_Deployment_Status
  src/CLR/Debugger/Debugger.cpp
Labels: area-Interpreter, enhancement

#612 Improve reboot command execution
  src/CLR/Core/Core.h
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector.cpp
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  src/CLR/Include/nanoCLR_Runtime.h
  src/CLR/Startup/CLRStartup.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/os/win32/nanoCLR/CLRStartup.cpp
Labels: area-Interpreter, area-Targets, enhancement

#613 Work on GC
  src/CLR/Core/GarbageCollector.cpp
  src/CLR/Core/GarbageCollector_Info.cpp
Labels: area-Interpreter, enhancement

#616 Fix build for ESP32
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoHAL.cpp
Labels: area-Config-and-Build, area-Targets-ESP32

#614 Update CMakes to use ChibiOS vNext
  CMake/ChibiOS.CMakeLists.cmake.in
  CMakeLists.txt
Labels: area-Config-and-Build

#615 Update GCC toolchain to 7-2017-q4-major
  appveyor.yml
  install-arm-gcc-toolchain.ps1
Labels: area-Config-and-Build

#617 Fix AppVeyor yaml
  appveyor.yml
Labels: area-Config-and-Build

#619 Remove HeapPersistence
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/CorLib/corlib_native_System_WeakReference.cpp
  src/CLR/Core/CLR_RT_HeapCluster.cpp
  src/CLR/Core/Core.cpp
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector.cpp
  src/CLR/Core/HeapPersistence/HeapPersistence.vcxproj
  src/CLR/Core/HeapPersistence/HeapPersistence.vcxproj.filters
  src/CLR/Core/HeapPersistence/HeapPersistence_stub.vcxproj
  src/CLR/Core/HeapPersistence/HeapPersistence_stub.vcxproj.filters
  src/CLR/Core/HeapPersistence/Heap_Persistence.cpp
  src/CLR/Core/HeapPersistence/Heap_Persistence_stub.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/os/win32/nanoCLR.sln
  targets/os/win32/nanoCLR/CLRStartup.cpp
  targets/os/win32/nanoCLR/main.cpp
  targets/os/win32/nanoCLR/nanoCLR.vcxproj
Labels: area-Config-and-Build, area-Interpreter, area-Targets, enhancement

#620 Clean up code from legacy features
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Core/TypeSystemLookup.cpp
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger.h
  src/CLR/Diagnostics/Profiler.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  src/CLR/Include/nanoCLR_Hardware.h
  src/CLR/Include/nanoCLR_Types.h
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_v2.h
  src/PAL/Include/nanoPAL.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp.groups.cpp
  targets/os/win32/nanoCLR/Generated/CLR_RT_InteropAssembliesTable.cpp
  targets/os/win32/nanoCLR/Various.cpp
Labels: area-Config-and-Build, area-Interpreter, area-Targets, enhancement

#621 Work on UNDONE FIXME
  src/CLR/Core/CLR_RT_HeapBlock_Timer.cpp
  src/CLR/Core/Execution.cpp
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger_stub.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  src/CLR/Include/nanoCLR_Hardware.h
  src/HAL/Include/nanoHAL.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/WireProtocol_MonitorCommands.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/os/win32/nanoCLR/CLRStartup.cpp
Labels: area-Interpreter, area-Targets, enhancement

#622 Remove "local time" stuff
  src/CLR/Core/CLR_RT_HeapBlock_Timer.cpp
  src/CLR/Core/Execution.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  src/CLR/Include/nanoCLR_Runtime__HeapBlock.h
Labels: area-Interpreter, enhancement

#623 Networking
  CMake/Modules/FindCHIBIOS_LWIP.cmake
  CMake/Modules/FindNF_Networking.cmake
  CMake/Modules/FindSystem.Net.cmake
  CMake/Modules/FindWindows.Networking.Sockets.cmake
  CMake/Modules/NF_API_Namespaces.cmake
  CMake/toolchain.FreeRtos.ESP32.GCC.cmake
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_Network.h
  src/HAL/Include/nanoHAL_v2.h
  src/PAL/COM/sockets/Sockets_debugger.cpp
  src/PAL/COM/sockets/sockets_lwip.cpp
  src/PAL/COM/sockets/sockets_lwip.h
  src/PAL/Include/nanoPAL.h
  src/PAL/Include/nanoPAL_Sockets.h
  src/PAL/Lwip/lwIP_Sockets.cpp
  src/PAL/Lwip/lwIP_Sockets.h
  src/PAL/Lwip/lwIP_Sockets_functions.cpp
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/Lwip/nf_api_msg.c
  targets/CMSIS-OS/ChibiOS/Lwip/nf_sockets.c
  targets/CMSIS-OS/ChibiOS/Lwip/nf_sys_arch.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/lwipopts.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/targetHAL_Network.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/targetHAL_Network.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Net/sys_net_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Net/sys_net_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Net/sys_net_native_System_Net_Sockets_NativeSocket.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native_Windows_Networking_Sockets_SocketNative.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Network.cpp
  targets/FreeRTOS/ESP32_DevKitC/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/System.Net/sys_net_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/System.Net/sys_net_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/System.Net/sys_net_native_System_Net_Sockets_NativeSocket.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Networking.Sockets/win_net_sockets_native_Windows_Networking_Sockets_SocketNative.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Network.cpp
Labels: area-Interpreter, area-Targets, enhancement

#626 Add support for STM32L0 series
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_sources.cmake
  CMake/Modules/FindCHIBIOS.cmake
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/README.md
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.h
Labels: area-Config-and-Build, area-Targets-ChibiOS, enhancement

#629 CRC32 in Wire Protocol is now optional
  CMake/Modules/FindWireProtocol.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/WireProtocol.h
  src/CLR/WireProtocol/WireProtocol_Message.c
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
  targets/FreeRTOS/ESP32_DevKitC/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/WireProtocol_MonitorCommands.c
Labels: area-Interpreter, area-Targets, enhancement

#630 Remove mbed folder and cleanup main CMakeLists
  CMakeLists.txt
  targets/os/mbed-os/nanoBooter/.gitignore
  targets/os/mbed-os/nanoBooter/README.md
  targets/os/mbed-os/nanoBooter/WireProtocol.cpp
  targets/os/mbed-os/nanoBooter/WireProtocol.h
  targets/os/mbed-os/nanoBooter/main.cpp
Labels: area-Infrastructure-and-Organization

#632 Tweak ChibiOS options to decrease image size
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
Labels: area-Config-and-Build, area-Targets-ChibiOS, enhancement
