Repository nanoframework/nf-interpreter, pull requests merged in 2018-06, with the labels that each got.

#715 Update corlib to support Timeout.InfiniteTimeSpan
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
Labels: Area: Corlib, Type: enhancement

#718 Removed all IRAM_ATTR attributes
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/main.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: Area: Targets-ESP32, Type: enhancement

#720 Correct ConstraintException in type system lookup table
  src/CLR/Core/TypeSystem.cpp
Labels: Area: Interpreter, Type: bug

#716 GLOBAL_LOCK / GLOBAL_UNLOCK implemented
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: Area: Targets-ESP32, Type: enhancement

#721 Remove unused exception
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Area: Interpreter, Type: enhancement

#717 Corrected the device selector string for the ESP32 serial ports
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Targets-ESP32, Status: merge OK, Type: bug

#722 Improvement on Serial NativeRead
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#723 Update to the ESP32 IDF v3.0 release version
  appveyor.yml
  install-esp32-idf.ps1
  install-esp32-libs.ps1
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
  targets/FreeRTOS/ESP32_DevKitC/Build_ESP32_libraries.md
  targets/FreeRTOS/ESP32_DevKitC/CopyLibs.cmd
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/target_board.h.in
  targets/FreeRTOS/ESP32_DevKitC/sdkconfig.h
Labels: Area: Config-and-Build, Area: Targets-ESP32, Type: enhancement

#724 Change OS Task priority for ReceiverThread
  src/CLR/Debugger/Debugger.cpp
  src/HAL/Include/nanoHAL.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#725 Update cmake-variants template to new schema (CMakeTools v0.11.x)
  cmake-variants.TEMPLATE.json
Labels: Area: Config-and-Build, documentation

#726 Turn off CRC32 for WP in all build configurations
  appveyor.yml
  get-stm32-targets-to-build.ps1
Labels: Area: Config-and-Build

#727 Fix wrong field declaration in System_String
  src/CLR/CorLib/corlib_native.h
Labels: Area: Interpreter, Type: bug

#728 Improvements on BlockStorage declarations
  src/PAL/Include/nanoPAL_BlockStorage.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/common/Device_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/common/Device_BlockStorage.c
  targets/FreeRTOS/ESP32_DevKitC/common/Device_BlockStorage.c
Labels: Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#729 Remove __DATE__ macro
  CMake/ChibiOS_target_os.h.in
Labels: Area: Config-and-Build, Type: enhancement

#730 Remove unused code from nanoBooter main
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#731 Fix HalSystemConfig declaration on all targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_common.c
  targets/FreeRTOS/ESP32_DevKitC/target_common.c
Labels: Area: Config-and-Build, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#732 Fix ChibiOS usbcfg code on all STM32 targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/common/usbcfg.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/common/usbcfg.c
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#733 Work on compiler warnings 🚧
  src/CLR/Include/nanoCLR_Checks.h
  src/CLR/Include/nanoCLR_Runtime__HeapBlock.h
  src/CLR/WireProtocol/WireProtocol_App_Interface.c
  src/CLR/WireProtocol/WireProtocol_HAL_Interface.c
  src/CLR/WireProtocol/WireProtocol_Message.c
  src/CLR/WireProtocol/WireProtocol_MonitorCommands.c
  src/HAL/Include/nanoHAL_Time.h
  src/HAL/nanoHAL_Time.cpp
  src/PAL/BlockStorage/nanoPAL_BlockStorage.c
  src/PAL/COM/GenericPort_stubs.c
  src/PAL/Include/nanoPAL.h
  src/PAL/Include/nanoPAL_COM.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/Include/targetHAL_Power.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/common/LaunchCLR.c
  targets/CMSIS-OS/ChibiOS/common/Target_BlockStorage.c
  targets/CMSIS-OS/ChibiOS/common/Target_BlockStorage_STM32FlashDriver.c
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_HAL_Interface.c
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_ReceiverThread.c
  targets/CMSIS-OS/ChibiOS/common/hard_fault_handler.c
  targets/CMSIS-OS/ChibiOS/common/platform_heap.c
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_App_Interface.c
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLRStartup.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/WireProtocol_App_Interface.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoCRT.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_RTC.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Time.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Time.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetRandom.cpp
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_flash/hal_stm32_flash.c
  targets/CMSIS-OS/common/swo.cpp
  targets/CMSIS-OS/common/syscalls.c
  targets/FreeRTOS/ESP32_DevKitC/common/Target_BlockStorage_ESP32FlashDriver.c
  targets/FreeRTOS/ESP32_DevKitC/common/swo.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/os/win32/nanoCLR/PAL/time_stubs.cpp
  targets/os/win32/nanoCLR/targetHAL_Time.cpp
Labels: Area: Config-and-Build, Area: Corlib, Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: bug, Type: enhancement

#735 Fix Debugging_Execution_BreakpointDef
  src/CLR/Include/nanoCLR_Debugging.h
Labels: Area: Interpreter, Type: enhancement

#736 Fix ADC declaration on all targets 🚧
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_devices_adc_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/target_windows_devices_adc_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_adc_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/target_windows_devices_adc_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_adc_config.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#739 Work on compiler warnings 🚧
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#738 Update GCC options on all STM32 series
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
Labels: Area: Config-and-Build, Area: Targets-ESP32, Type: enhancement

#741 Rework several RAM assignment for STM32 targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/STM32F746xG_CLR.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
Labels: Area: Targets-STM32-ChibiOS, Type: enhancement

#745 Add support for Interop assemblies
  .gitignore
  CMake/Modules/NF_NativeAssemblies.cmake
  CMakeLists.txt
  InteropAssemblies/README.md
  cmake-variants.TEMPLATE.json
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CMakeLists.txt
Labels: Area: Config-and-Build, Area: Infrastructure-and-Organization, Type: enhancement

#744 Add support to String.Format
  src/CLR/CorLib/corlib_native.cpp
Labels: Area: Corlib, Type: enhancement

#747 Update TimeSpan native declarations
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_TimeSpan.cpp
Labels: Area: Corlib, Type: enhancement

#748 Work on build with support for SP or DP floating point
  CMake/ChibiOS_target_os.h.in
  CMake/ESP32_target_os.h.in
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Math.cpp
  src/PAL/Double/nanoPAL_NativeDouble.cpp
  src/PAL/Include/nanoPAL_NativeDouble.h
Labels: Area: Config-and-Build, Area: Corlib, Type: enhancement

#749 Improved code to remove compiler warning
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#750 Update RT config version define for ChibiOS based targets
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/nanoCLR/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/chconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/chconf.h
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS

#751 Rename exception header file
  src/CLR/Include/nanoCLR_ErrorCodes.h
  src/CLR/Include/nf_errors_exceptions.h
  src/HAL/Include/nanoHAL_Types.h
  src/PAL/Include/nanoPAL_AsyncProcCalls_decl.h
  src/PAL/Include/nanoPAL_Events.h
  src/PAL/Include/nanoPAL_GPIO.h
  src/PAL/Include/nanoPAL_Time.h
Labels: Area: Config-and-Build, Area: Corlib, Area: Interpreter, Type: enhancement

#752 Add missing ifdefs for ESP32 platform
  src/CLR/Diagnostics/Profile.cpp
  src/CLR/Include/nanoCLR_PlatformDef.h
  src/HAL/Include/nanoHAL.h
  src/PAL/Include/nanoPAL.h
Labels: Area: Config-and-Build, Area: Targets-ESP32, Type: enhancement

#753 Add FP information about STM32 targets to readme
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/README.md
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/README.md
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO144_F746ZG/README.md
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/README.md
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/README.md
  targets/CMSIS-OS/ChibiOS/ST_STM32F4_DISCOVERY/README.md
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/README.md
Labels: Area: Targets-STM32-ChibiOS, documentation

#754 Review ESP32 compiler options to enable warnings as errors
  CMake/toolchain.FreeRtos.ESP32.GCC.cmake
  src/CLR/Core/CLR_RT_UnicodeHelper.cpp
  src/CLR/Core/GarbageCollector_ComputeReachabilityGraph.cpp
  src/CLR/Diagnostics/Info.cpp
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL.h
  targets/FreeRTOS/ESP32_DevKitC/Include/targetHAL_Power.h
  targets/FreeRTOS/ESP32_DevKitC/common/Esp32_DeviceMapping.cpp
  targets/FreeRTOS/ESP32_DevKitC/common/LaunchCLR.c
  targets/FreeRTOS/ESP32_DevKitC/common/Target_BlockStorage.c
  targets/FreeRTOS/ESP32_DevKitC/common/WireProtocol_HAL_Interface.c
  targets/FreeRTOS/ESP32_DevKitC/common/swo.cpp
  targets/FreeRTOS/ESP32_DevKitC/common/wifi_smart_config.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Adc/win_dev_adc_native_Windows_Devices_Adc_AdcChannel.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Adc/win_dev_adc_native_Windows_Devices_Adc_AdcController.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmController.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiBusInfo.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/WireProtocol_App_Interface.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoCRT.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Logging.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_RTC.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL_Time.cpp
Labels: Area: Corlib, Area: Interpreter, Area: Targets-ESP32, Type: enhancement

#755 Updated the ESP32 build documentation
  .vscode/cmake-kits.TEMPLATE-ESP32.json
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: documentation

#756 Work string to value conversion implementation
  CMake/ChibiOS_target_os.h.in
  CMake/ESP32_target_os.h.in
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Convert.cpp
Labels: Area: Corlib, Type: enhancement

#757 Fixes with declarations for SMT32L0 series
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#759 Adding Missing ifdefs to allow stm32F469/479 to be target Mcu
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_fsmc/hal_stm32_fsmc.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sdram_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sdram_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sram_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_fsmc/hal_stm32_fsmc.c
Labels: Area: Config-and-Build, Area: Targets-ESP32, Type: enhancement

#760 Update native code for nanoFramework.Runtime.Native
  src/CLR/Runtime.Native/nf_rt_native.cpp
  src/CLR/Runtime.Native/nf_rt_native.h
  src/CLR/Runtime.Native/nf_rt_native_nanoFramework_Runtime_Hardware_SystemInfo.cpp
Labels: Area: Corlib, Type: enhancement

#758 Housekeeping on ESP32 code base
  CMake/ESP32_target_os.h.in
  targets/FreeRTOS/ESP32_DevKitC/IDF/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/common/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/common/LaunchCLR.c
  targets/FreeRTOS/ESP32_DevKitC/common/swo.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/WireProtocol_App_Interface.c
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/WireProtocol_MonitorCommands.c
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/halconf.h
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/halconf_nf.h
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/main.c
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/readme.md
  targets/FreeRTOS/ESP32_DevKitC/nanoBooter/target_board.h.in
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Memory.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/WireProtocol_App_Interface.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetPAL.c
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/target_platform.h.in
Labels: Area: Targets-ESP32, Type: enhancement

#762 Add native support for runtime.native.power
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/Runtime.Native/nf_rt_native.cpp
  src/CLR/Runtime.Native/nf_rt_native.h
  src/CLR/Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_Power.cpp
Labels: Area: Corlib, Type: enhancement

#763 Rework CMakes
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  appveyor.yml
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
  targets/FreeRTOS/ESP32_DevKitC/CMakeLists.txt
Labels: Area: Config-and-Build

#766 Add managed event on serial communication
  src/PAL/Include/nanoPAL_Events.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Corlib, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#767 Update native implementation of serial comm
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
Labels: Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#769 Add missing define to support STM32L0 series
  targets/CMSIS-OS/ChibiOS/Include/targetPAL.h
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#770 Fix time methods as per #350 #351
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Time.cpp
Labels: Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: bug

#771 Improvements required when debugger feature is off
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/Include/nanoCLR_Checks.h
Labels: Area: Config-and-Build, Type: enhancement

#772 Work on CMake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  get-stm32-targets-to-build.ps1
  src/CLR/Core/CLR_RT_HeapBlock_String.cpp
  src/CLR/Core/CLR_RT_RuntimeMemory.cpp
  src/CLR/Core/CLR_RT_StackFrame.cpp
  src/CLR/Core/Cache.cpp
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector.cpp
  src/CLR/Core/Interpreter.cpp
  src/CLR/Core/Thread.cpp
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/CMakeLists.txt
Labels: Area: Config-and-Build, Area: Corlib, Area: Interpreter, Area: Targets-ESP32, Area: Targets-STM32-ChibiOS, Type: enhancement

#773 Add missing bits to add support for STM32L0 series
  CMake/Modules/CHIBIOS_STM32L0xx_sources.cmake
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL.c
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#768 Minor fixes to Cmake files for duplicate removal and FPU check
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  appveyor.yml
  get-stm32-targets-to-build.ps1
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: bug, Type: enhancement

#774 Fix required for build with RelWithDebInfo
  src/CLR/Core/CLR_RT_Interop.cpp
  src/CLR/Include/nanoCLR_Runtime__HeapBlock.h
  src/CLR/Include/nanoCLR_Types.h
Labels: Area: Interpreter, Type: enhancement

#775 Add check for cortex code in SWO
  targets/CMSIS-OS/common/swo.cpp
Labels: Area: Config-and-Build, Area: Targets-STM32-ChibiOS, Type: enhancement

#776 Improve code in CheckValidCLRImage
  targets/CMSIS-OS/ChibiOS/common/LaunchCLR.c
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#778 Fixes required for STM32F0 series
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
Labels: Area: Targets-STM32-ChibiOS, Type: bug

#780 Fix LaunchCLR to detect valid image
  targets/CMSIS-OS/ChibiOS/common/LaunchCLR.c
Labels: Area: Targets-STM32-ChibiOS, Type: bug
