Repository nanoframework/nf-interpreter, pull requests merged in 2019-07, with the labels that each got.

#1390 🚧 Add support for DAC
  CMake/Modules/FindSystem.Devices.Dac.cmake
  CMake/Modules/NF_NativeAssemblies.cmake
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  azure-pipelines.yml
  cmake-variants.TEMPLATE-ESP32.json
  cmake-variants.TEMPLATE.json
  src/System.Devices.Dac/sys_dev_dac_native.cpp
  src/System.Devices.Dac/sys_dev_dac_native.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacChannel.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_target.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
Labels: Area: Common libs, Area: STM32, Type: enhancement

#1389 Improvements in network configuration storing procedure
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
Labels: Area: Common libs, Type: enhancement

#1392 Update Hardware.Esp32 assembly
  CMake/Modules/FindnanoFramework.Hardware.Esp32.cmake
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/Esp32_DeviceMapping.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/Esp32_DeviceMapping.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Configuration.cpp
Labels: Area: ESP32, Type: dependencies

#1393 Update Managed heap allocator
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Memory.cpp
Labels: Area: ESP32, Type: enhancement

#1394 Add implementation of GetCustomAttributes for fields
  src/CLR/CorLib/corlib_native_System_Reflection_FieldInfo.cpp
Labels: Area: Common libs, Type: enhancement

#1396 Add System.Devices.Dac
  CMake/Modules/FindSystem.Devices.Dac.cmake
  CMake/Modules/NF_NativeAssemblies.cmake
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  README.md
  azure-pipelines.yml
  cmake-variants.TEMPLATE-ESP32.json
  cmake-variants.TEMPLATE.json
  src/System.Devices.Dac/sys_dev_dac_native.cpp
  src/System.Devices.Dac/sys_dev_dac_native.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_system_devices_dac_config.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacChannel.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/System.Devices.Dac/sys_dev_dac_native_target.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/esp32_os.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacChannel.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacController.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/System.Devices.Dac/sys_dev_dac_native_target.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_system_devices_dac_config.cpp
Labels: Area: Common libs, Area: ESP32, Area: STM32, Type: enhancement

#1397 Increase CLR region size for debug build
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/common/Device_BlockStorage-DEBUG.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/nanoCLR/CC3220SF_CLR-DEBUG.ld
Labels: Area: Config-and-Build, Area: TI-CC32xx

#1398 Improvements on Devices.Dac
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/Esp32_DeviceMapping.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/Esp32_DeviceMapping.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacChannel.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/System.Devices.Dac/sys_dev_dac_native_System_Devices_Dac_DacController.cpp
Labels: Area: ESP32, Type: bug

#1399 Fix secure socket authentication
  CMake/Modules/TI_SimpleLink_CC32xx_sources.cmake
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: TI-CC32xx, Type: bug

#1400 Add GetInvocationList to System.Delegate
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Delegate.cpp
Labels: Area: Common libs, Type: enhancement

#1402 Update Ethernet support
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Network/Esp32_Ethernet_Lan8720.cpp
Labels: Area: ESP32, Type: enhancement

#1403 Add support for Windows.Devices.I2c
  azure-pipelines.yml
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/target_windows_devices_i2c_config.cpp
  targets/FreeRTOS/NXP/common/CMakeLists.txt
  targets/FreeRTOS/NXP/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/FreeRTOS/NXP/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2c_I2cController.cpp
  targets/FreeRTOS/NXP/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_target.h
Labels: Area: NXP, Type: enhancement

#1405 Fix startocd.bat for Wrover board
  startocd.bat
Labels: Area: Config-and-Build, Area: ESP32

#1406 Relocate native assemblies to common location
  .gitignore
  CMake/Modules/NF_NativeAssemblies.cmake
  InteropAssemblies/CLR_RT_InteropAssembliesTable.cpp.in
  InteropAssemblies/README.md
  targets/CMSIS-OS/ChibiOS/nanoCLR/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/CMakeLists.txt
  targets/TI-SimpleLink/nanoCLR/CLR_RT_InteropAssembliesTable.cpp.in
  targets/TI-SimpleLink/nanoCLR/CMakeLists.txt
Labels: Area: Config-and-Build

#1407 Fix Base64 conversion
  src/CLR/CorLib/corlib_native_System_Convert.cpp
Labels: Area: STM32, Type: bug

#1408 Fix several CLR declarations
  src/CLR/Core/Interpreter.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Area: Common libs, Type: enhancement

#1401 Updates GCC toolchain to 8 2019 q3
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC32xx_GCC_options.cmake
  VisualStudioDevelopment/README.md
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
  install-scripts/install-arm-gcc-toolchain.ps1
  install-scripts/install-stm32-tools.ps1
Labels: Area: Config-and-Build

#1409 Work on mbedTLS
  src/PAL/COM/sockets/ssl/mbedTLS/nf_mbedtls_config.h
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_generic_init_internal.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/mbedtls_config.h
Labels: Area: STM32, Type: enhancement

#1412 Add support for X509Certificate2
  CMake/Modules/FindNF_Networking.cmake
  CMake/Modules/FindSystem.Net.cmake
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Security_SslNative.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Security_Cryptography_X509Certificates_X509Certificate2.cpp
  src/PAL/COM/sockets/Sockets_debugger.cpp
  src/PAL/COM/sockets/ssl/mbedTLS/mbedtls.h
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_decode_private_key_internal.cpp
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_exit_context_internal.cpp
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_generic_init_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_decode_private_key_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_generic_init_internal.cpp
  src/PAL/COM/sockets/ssl/ssl.cpp
  src/PAL/COM/sockets/ssl/ssl_functions.h
  src/PAL/COM/sockets/ssl/ssl_stubs.cpp
  src/PAL/Include/nanoPAL_Sockets.h
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: Common libs, Breaking-change, Type: enhancement

#1413 Work on mbedTLS for ESP32
  CMake/Modules/FindNF_CoreCLR.cmake
  CMake/Modules/FindNF_Networking.cmake
  CMake/Modules/FindmbedTLS.cmake
  CMakeLists.txt
  azure-pipelines.yml
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/common/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/nanoCLR/mbedtls_entropy_hardware_pool.c
  targets/FreeRTOS_ESP32/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/mbedtls_config.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/mbedtls_entropy_hardware_pool.c
Labels: Area: ESP32, Breaking-change, Type: bug

#1414 Remove OpenSSL
  CMake/Modules/FindNF_Networking.cmake
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  cmake-variants.TEMPLATE-ESP32.json
  cmake-variants.TEMPLATE.json
  src/PAL/COM/sockets/ssl/openssl/openssl.h
  src/PAL/COM/sockets/ssl/openssl/ssl_accept_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_add_cert_auth_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_closesocket_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_connect_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_decode_private_key_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_exit_context_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_functions.h
  src/PAL/COM/sockets/ssl/openssl/ssl_generic.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_generic_init_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_initialize_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_parse_certificate_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_pending_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_read_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_types.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_types.h.orig
  src/PAL/COM/sockets/ssl/openssl/ssl_uninitialize_internal.cpp
  src/PAL/COM/sockets/ssl/openssl/ssl_write_internal.cpp
  src/PAL/COM/sockets/ssl/ssl_types.h
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/mbedtls_entropy_hardware_pool.c
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: Config-and-Build

#1415 Support larger Flash chips configurations on ESP32
  azure-pipelines-templates/build-esp32.yml
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_16mb.csv
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_8mb.csv
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/Device_BlockStorage-4mb.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/Device_BlockStorage.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_common.c
Labels: Area: ESP32, Type: enhancement

#1416 Update default serial baud rate
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/README.md
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_common.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/README.md
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/README.md
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_common.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/README.md
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_common.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/WireProtocol_HAL_Interface.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_common.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/CC3220SF_LAUNCHXL.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/target_common.c
  targets/TI-SimpleLink/nanoCLR/targetPAL.c
  targets/os/win32/nanoCLR/Various.cpp
Labels: Area: ESP32, Area: STM32, Area: TI-CC32xx, Breaking-change

#1417 Work on ESP32 files
  azure-pipelines-templates/build-esp32.yml
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/README.md
Labels: Area: Config-and-Build

#1418 Fix OemInfo command
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger_stub.cpp
  src/CLR/Include/WireProtocol.h
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
Labels: Area: Common libs, Type: bug

#1419 Fix compiler condition for SPIFFS on StorageFolder
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: STM32, Type: bug

#1421 Add GPIO ChangeCounter
  CMake/Modules/FindWindows.Devices.Gpio.cmake
  src/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  src/Windows.Devices.Gpio/win_dev_gpio_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioChangeCounter.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/esp32_os.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioChangeCounter.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/TI-SimpleLink/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioChangeCounter.cpp
Labels: Area: Common libs, Area: ESP32, Type: enhancement

#1422 Improve network configuration block management
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/common/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/common/targetHAL_ConfigurationManager.cpp
  targets/CMSIS-OS/ChibiOS/common/targetHAL_ConfigurationManager.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL_ConfigurationManager.cpp
  targets/TI-SimpleLink/common/targetHAL_ConfigurationManager_CC32xx.cpp
Labels: Area: ESP32, Area: STM32, Area: TI-CC32xx, Breaking-change

#1423 Workaround for bug in FreeLink serial port configuration
  targets/FreeRTOS/NXP/common/WireProtocol_HAL_Interface.c
Labels: Area: NXP, Type: bug

#1420 Update CMakeSettings.json for Visual Studio build
  CMakeSettings.json
Labels: Area: Config-and-Build, Status: in progress

#1424 Fix configuration manager initialization
  targets/CMSIS-OS/ChibiOS/common/targetHAL_ConfigurationManager.cpp
Labels: Area: STM32, Type: bug

#1425 Fix configuration manager initialization
  targets/TI-SimpleLink/common/targetHAL_ConfigurationManager_CC32xx.cpp
Labels: Area: TI-CC32xx, Type: enhancement
