Repository nanoframework/nf-interpreter, pull requests merged in 2019-04, with the labels that each got.

#1277 Work on Windows.Storage
  src/HAL/Include/nanoHAL_Windows_Storage.h
  targets/CMSIS-OS/ChibiOS/common/Target_Windows_Storage.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: Common libs, Type: dependencies, Type: enhancement

#1278 Add state flag to signal failure in type load and/or resolution
  src/CLR/Include/nanoCLR_Runtime.h
  src/CLR/Startup/CLRStartup.cpp
Labels: Area: Common libs, Type: enhancement

#1279 Fixed BlockStorage, added Reset function and GPIOs support
  .vscode/launch.TEMPLATE-MIMXRT1060.json
  CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio_ext.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio_ext.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/include/Target_Windows_Storage.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/CLR_Startup_Thread.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioController.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioPin.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/WireProtocol_App_Interface.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/main.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetHAL_Power.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetHAL_Time.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Time.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Time.h
Labels: Area: FreeRTOS, Area: NXP, Type: enhancement

#1283 Power down improvements for SMT32F7
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_Power.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_RTC.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32, Type: enhancement

#1284 Fix typo in build variable
  azure-pipelines-templates/build-chibios-stm32.yml
  azure-pipelines-templates/build-esp32.yml
  azure-pipelines-templates/pack-publish-artifacts.yml
Labels: Area: Config-and-Build

#1285 Additional changes to help build and debug with Visual Studio 2017
  .vs/tasks.vs.SAMPLE.json
  CMake/Modules/FindBuildUtils.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  CMakeSettings.json
  RunCmd.bat
  SetNFRoot.bat
  sd1.bat
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
Labels: Area: Config-and-Build

#1290 Work on native implementation for Windows.Storage
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
Labels: Area: ESP32, Area: STM32, Type: enhancement

#1292 Revert changes in FindBuildUtils
  CMake/Modules/FindBuildUtils.cmake
Labels: Area: Config-and-Build

#1293 Fix class names in Windows_Storage_Folder
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: ChibiOS, Type: enhancement

#1291 Fixed several errors with Windows.Storage
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Target_Windows_Storage.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: ESP32, Type: bug

#1287 Add support for SD card
  CMake/FatFS.CMakeLists.cmake.in
  CMake/Modules/FindFATFS.cmake
  CMake/Modules/FindWindows.Storage.cmake
  CMakeLists.txt
  azure-pipelines.yml
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/README.md
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/Target_Windows_Storage.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/board.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/board.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/clock_config.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/pin_mux.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/pin_mux.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_common.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio_ext.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_gpio_ext.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_usdhc.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_usdhc.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/hardfault.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/inc/fsl_sd.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/inc/fsl_sdmmc_common.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/inc/fsl_sdmmc_host.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/inc/fsl_sdmmc_spec.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/port/fsl_sdmmc_event.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/port/fsl_sdmmc_event.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/port/fsl_sdmmc_host.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/src/fsl_sd.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/sdmmc/src/fsl_sdmmc_common.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/semihost_hardfault.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/utilities/fsl_debug_console.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/include/Target_Windows_Storage.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/include/targetHAL.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Storage/win_storage_native.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/fatfs/diskio.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/fatfs/ffconf.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/fatfs/ffsystem.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/fatfs/fsl_sd_disk.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/fatfs/fsl_sd_disk.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/main.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Time.cpp
Labels: Area: NXP, Type: enhancement

#1294 Fix DMA conflict on STM32F429_DISCO
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_devices_onewire_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_devices_onewire_config.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_serialcommunication_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_windows_devices_serialcommunication_config.h
Labels: Area: STM32, Type: bug
