Repository nanoframework/nf-interpreter, pull requests merged in 2019-12, with the labels that each got.

#1520 Add Hard Fault handler for Cortex-M0
  targets/CMSIS-OS/ChibiOS/common/hard_fault_handler.c
Labels: Area: NXP, Area: STM32, Type: enhancement

#1521 Fix potential issue with flash write on STMF0 series
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
Labels: Area: ChibiOS, Type: bug

#1524 Add dependency of LWIP module to NXP target
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/CMakeLists.txt
Labels: Area: Config-and-Build, Area: NXP, Type: enhancement

#1525 Fix TI CC1352 config
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/CMakeLists.txt
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/ti-rtos-debug.cfg
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/ti-rtos-release.cfg
Labels: Area: Config-and-Build, Area: TI-SimpleLink, Type: bug

#1523 Fix simultaneous use of SDcard and USB MSD
  targets/CMSIS-OS/ChibiOS/Include/Target_Windows_Storage.h
  targets/CMSIS-OS/ChibiOS/common/Target_Windows_Storage.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: ChibiOS, Type: bug

#1526 Update Esp32 Ethernet for alternate clock modes
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Network/Esp32_Ethernet_Lan8720.cpp
Labels: Area: ESP32

#1527 Fix type mismatch of SetResult functions
  src/CLR/Core/CLR_RT_Interop.cpp
Labels: Area: Common libs, Type: bug

#1528 Add option to generate bundle package with nanoBooter + nanoCLR on build
  CMake/Modules/FindBuildUtils.cmake
  azure-pipelines-templates/download-srecord.yml
  azure-pipelines.yml
  cmake-variants.TEMPLATE-MIMXRT1060.json
  targets/FreeRTOS/CMakeLists.txt
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/CMakeLists.txt
Labels: Area: Config-and-Build, Type: enhancement

#1529 Rework of UART on MIMXRT1060
  targets/FreeRTOS/NXP/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/FreeRTOS/NXP/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_target.h
Labels: Area: NXP, Type: enhancement

#1531 Type correction in Interop (unsigned as signed)
  src/CLR/Core/CLR_RT_Interop.cpp
Labels: Area: Common libs, Type: bug

#1532 Fix pipeline not generating merged nanoBooter + nanoCLR hex file
  azure-pipelines-templates/build-freertos-nxp.yml
Labels: Area: Config-and-Build, Area: NXP

#1530 Rework of sdcard storage for NXP MIMXRT1060 port
  targets/FreeRTOS/NXP/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/FreeRTOS/NXP/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: NXP, Type: bug

#1534 Rework SWO output
  targets/CMSIS-OS/common/swo.cpp
Labels: Area: STM32, Type: bug
