Repository nanoframework/nf-interpreter, pull requests merged in 2019-05, with the labels that each got.

#1296 Support for True random number generator in FreeRTOS for MIMXRT1062
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_trng.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_trng.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetRandom.cpp
Labels: Area: FreeRTOS, Area: NXP, Type: enhancement

#1300 Improvements in CMake
  CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/TI-SimpleLink/CMakeLists.txt
Labels: Area: Config-and-Build

#1301 Add definition for SD Card detection line
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_storage_config.h
Labels: Area: STM32, Breaking-change, Type: enhancement

#1302 Initial work on supporting STM Cube packages download and build
  CMake/Modules/STM32_CubePackage.cmake
  CMake/Modules/STM32_F0_CubePackage_sources.cmake
  CMake/Modules/STM32_F4_CubePackage_sources.cmake
  CMake/Modules/STM32_F7_CubePackage_sources.cmake
  CMake/Modules/STM32_H7_CubePackage_sources.cmake
  CMake/Modules/STM32_L0_CubePackage_sources.cmake
  CMake/STM32.CubePackage.CMakeLists.cmake.in
  cmake-variants.TEMPLATE.json
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
Labels: Area: Common libs

#1303 Fix CMakes for building community targets
  CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
Labels: Area: Config-and-Build

#1304 Work on STM Cube package
  CMake/Modules/STM32_CubePackage.cmake
  CMake/Modules/STM32_F0_CubePackage_sources.cmake
  CMake/Modules/STM32_F4_CubePackage_sources.cmake
  CMake/Modules/STM32_H7_CubePackage_sources.cmake
  CMake/Modules/STM32_L0_CubePackage_sources.cmake
  targets/CMSIS-OS/ChibiOS/common/targetHAL_Time.cpp
Labels: Area: Config-and-Build, Area: STM32

#1305 Fix wireless profile enumeration
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/common/Device_BlockStorage-DEBUG.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/nanoCLR/CC3220SF_CLR-DEBUG.ld
  targets/TI-SimpleLink/common/targetHAL_ConfigurationManager_CC32xx.cpp
Labels: Area: TI-CC32xx, Type: bug

#1306 Work on STM Cube package
  CMake/Modules/FindSTM32_F0_CubePackage.cmake
  CMake/Modules/FindSTM32_F4_CubePackage.cmake
  CMake/Modules/FindSTM32_F7_CubePackage.cmake
  CMake/Modules/FindSTM32_H7_CubePackage.cmake
  CMake/Modules/FindSTM32_L0_CubePackage.cmake
  CMake/Modules/STM32_CubePackage.cmake
  CMake/Modules/STM32_F0_CubePackage_sources.cmake
  CMake/Modules/STM32_F4_CubePackage_sources.cmake
  CMake/Modules/STM32_F7_CubePackage_sources.cmake
  CMake/Modules/STM32_H7_CubePackage_sources.cmake
  CMake/Modules/STM32_L0_CubePackage_sources.cmake
Labels: Area: Config-and-Build, Area: STM32

#1307 Fix CMake for STM32 F4 Cube package
  CMake/Modules/FindSTM32_F4_CubePackage.cmake
Labels: Area: Config-and-Build, Area: STM32

#1308 Fix implementation of GetFolderNative
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
Labels: Area: ESP32, Area: STM32, Type: bug

#1309 Fix for OpenIfExisting option for CreateFile
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: ESP32, Type: bug

#1310 Rework CMakes for STM Cube package
  CMake/Modules/FindSTM32_F0_CubePackage.cmake
  CMake/Modules/FindSTM32_F4_CubePackage.cmake
  CMake/Modules/FindSTM32_F7_CubePackage.cmake
  CMake/Modules/FindSTM32_H7_CubePackage.cmake
  CMake/Modules/FindSTM32_L0_CubePackage.cmake
  CMake/Modules/STM32_CubePackage.cmake
  CMake/STM32.CubePackage.CMakeLists.cmake.in
Labels: Area: Config-and-Build, Area: STM32

#1311 Add support for SPIFFS in STM32
  CMake/Modules/CHIBIOS_STM32F4xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_sources.cmake
  CMake/Modules/FindChibiOSnfOverlay.cmake
  CMake/Modules/FindSPIFFS.cmake
  CMake/Modules/FindSTM32F0_CubePackage.cmake
  CMake/Modules/FindSTM32F4_CubePackage.cmake
  CMake/Modules/FindSTM32F7_CubePackage.cmake
  CMake/Modules/FindSTM32H7_CubePackage.cmake
  CMake/Modules/FindSTM32L0_CubePackage.cmake
  CMake/SPIFFS.CMakeLists.cmake.in
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  src/HAL/Include/nanoHAL_Windows_Storage.h
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/board.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/spiffs_config.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/stm32f7xx_hal_conf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_spiffs.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_spiffs.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_serialcommunication_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_devices_serialcommunication_config.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_storage_config.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_Devices_SDCard.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/hal_nf_community.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_qspi/hal_stm32_qspi.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/QSPIv1/README.md
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/QSPIv1/qspi_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/QSPIv1/qspi_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/hal_community.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_qspi/hal_stm32_qspi.c
  targets/CMSIS-OS/ChibiOS/spiffs/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/spiffs/hal_spiffs.c
  targets/CMSIS-OS/ChibiOS/spiffs/hal_spiffs.h
Labels: Area: STM32, Type: enhancement

#1312 Add missing check to include events API
  CMakeLists.txt
Labels: Area: Config-and-Build

#1313 Fix to Storage.ReadTextNative
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
Labels: Area: STM32, Type: bug

#1314 Fixed NXP target cmakelist
  CMake/Modules/FindWindows.Storage.cmake
  targets/FreeRTOS/CMakeLists.txt
Labels: Area: NXP, Type: enhancement

#1318 Rework execution engine mutex
  src/CLR/Core/InterruptHandler/InterruptHandler.cpp
  src/CLR/Core/NativeEventDispatcher/NativeEventDispatcher.cpp
  src/CLR/Include/nanoCLR_Interop.h
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_v2.h
  src/PAL/AsyncProcCall/AsyncCompletions.cpp
  src/PAL/AsyncProcCall/AsyncContinuations.cpp
  targets/CMSIS-OS/ChibiOS/Include/targetHAL.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Events.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetPAL_Time.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/targetHAL.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetPAL_Events.cpp
  targets/TI-SimpleLink/Include/targetHAL.h
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/common/Device_BlockStorage-DEBUG.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/nanoCLR/CC3220SF_CLR-DEBUG.ld
  targets/TI-SimpleLink/common/WireProtocol_ReceiverThread.c
  targets/TI-SimpleLink/nanoCLR/targetHAL.cpp
  targets/TI-SimpleLink/nanoCLR/targetPAL_Events.cpp
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Threads.c
  targets/os/win32/nanoCLR/Various.cpp
  targets/os/win32/nanoCLR/platform_selector.h
Labels: Area: Common libs, Area: Targets, Breaking-change, Type: enhancement

#1319 Remove ChibiOS version from CMake
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
Labels: Area: ChibiOS, Area: Config-and-Build

#1320 Fix SystemState_Query
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
  targets/TI-SimpleLink/nanoCLR/targetHAL.cpp
Labels: Area: Targets, Type: bug

#1321 Update CC3220SF SDK to v3.10.00.04
  CMake/Modules/TI_SimpleLink_CC32xx_sources.cmake
  targets/TI-SimpleLink/CMakeLists.txt
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/CC3220SF_LAUNCHXL.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/CC3220SF_LAUNCHXL.h
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/target_common.h.in
Labels: Area: TI-SimpleLink, Breaking-change, Type: dependencies

#1322 Work on SNTP for CC3220SF
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/target_sntp_opts.h
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Sntp.c
Labels: Area: TI-CC32xx, Type: bug

#1323 Rework UART for TI SimpleLink
  targets/TI-SimpleLink/common/CMakeLists.txt
  targets/TI-SimpleLink/common/GenericPort.cpp
  targets/TI-SimpleLink/common/WireProtocol_HAL_Interface.c
  targets/TI-SimpleLink/nanoCLR/targetPAL.c
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Threads.c
Labels: Area: TI-SimpleLink, Type: enhancement

#1325 Add compiler define for DEBUG
  CMakeLists.txt
Labels: Area: Config-and-Build

#1326 Work on TI SimpleLink UART output
  targets/TI-SimpleLink/Include/targetHAL.h
  targets/TI-SimpleLink/Include/targetSimpleLinkCC32xx_Threads.h
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/common/Device_BlockStorage-DEBUG.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/nanoCLR/CC3220SF_CLR-DEBUG.ld
  targets/TI-SimpleLink/common/GenericPort.cpp
  targets/TI-SimpleLink/nanoCLR/targetPAL.c
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_LinkLocalTask.c
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Sntp.c
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Threads.c
Labels: Area: TI-SimpleLink, Type: enhancement

#1327 Rework SNTP worker thread
  targets/TI-SimpleLink/Include/targetSimpleLinkCC32xx_Threads.h
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Sntp.c
Labels: Area: TI-SimpleLink, Type: enhancement

#1329 Replace platform delay define with SL API
  targets/TI-SimpleLink/Include/targetHAL.h
Labels: Area: TI-SimpleLink, Type: enhancement

#1328 Add debug messages to most SL events
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/common/Device_BlockStorage-DEBUG.c
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/nanoCLR/CC3220SF_CLR-DEBUG.ld
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Threads.c
Labels: Area: TI-SimpleLink, Type: enhancement

#1330 Fix time get and set in TI SimpleLink HAL
  targets/TI-SimpleLink/nanoCLR/targetHAL_Time.cpp
Labels: Area: TI-SimpleLink, Type: bug

#1324 Rework execution engine mutex for iMXRT1060
  CMake/Modules/FreeRTOS_iMXRT10xx_GCC_options.cmake
  azure-pipelines.yml
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/device/system_MIMXRT1062.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/hardfault.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/xip/fsl_flexspi_nor_boot.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/include/targetHAL.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetHAL.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetPAL_Time.cpp
Labels: Area: NXP, Type: enhancement

#1316 Initial support of hardware RTC on MIMXRT10xxx board
  azure-pipelines.yml
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/FreeRTOS/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/board.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/board/board.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_snvs_hp.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_snvs_hp.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_snvs_lp.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/common/drivers/fsl_snvs_lp.h
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/CMakeLists.txt
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/main.c
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/nanoFramework.Runtime.Native/nf_rt_native_nanoFramework_Runtime_Native_Rtc.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/targetHAL_Time.cpp
  targets/FreeRTOS/NXP_MIMXRT1060_EVK/nanoCLR/target_board.h.in
Labels: Area: NXP, Status: in progress, Type: enhancement

#1331 Fix alarm wakeup for STM32F7
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32, Type: bug

#1333 Work on I2C native
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
  targets/TI-SimpleLink/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.cpp
  targets/TI-SimpleLink/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native.h
  targets/TI-SimpleLink/nanoCLR/Windows.Devices.I2c/win_dev_i2c_native_Windows_Devices_I2C_I2cDevice.cpp
Labels: Type: dependencies, Type: enhancement

#1334 Implement native dispose for STM32 targets
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.SerialCommunication/win_dev_serial_native_Windows_Devices_SerialCommunication_SerialDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiDevice.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Devices.Can/nf_devices_can_native_nanoFramework_Devices_Can_CanController.cpp
Labels: Area: STM32, Type: enhancement

#1335 Fix rename file issue
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: ESP32, Type: bug

#1336 Work TI CC3220SF
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/target_common.h.in
  targets/TI-SimpleLink/common/WireProtocol_HAL_Interface.c
  targets/TI-SimpleLink/common/sockets_simplelink.cpp
  targets/TI-SimpleLink/nanoCLR/targetPAL.c
Labels: Area: TI-SimpleLink, Type: enhancement

#1337 Fix Monitor_ReadMemory command
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger.h
  src/CLR/Include/nanoCLR_Debugging.h
Labels: Area: Common libs, Breaking-change, Type: enhancement

#1339 Update storage config for NETDUINO3
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_windows_storage_config.h
Labels: Area: STM32, Type: enhancement

#1340 Add file dependencies to DFU custom command
  CMake/Modules/FindBuildUtils.cmake
Labels: Area: Config-and-Build

#1338 Fix DFU check
  CMake/Modules/FindBuildUtils.cmake
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
Labels: Area: Config-and-Build

#1342 Update declaration of System.Net assembly
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
Labels: Area: Common libs, Type: dependencies

#1343 Enable 1-Wire support on ESP32 build
  azure-pipelines.yml
Labels: Area: Config-and-Build, Area: ESP32
