Repository nanoframework/nf-interpreter, pull requests merged in 2019-01, with the labels that each got.

#1130 Fix wrong call to nanoHAL_Uninitialize
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32-ChibiOS, Type: bug

#1131 Add watchdog stop before entering low power
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32-ChibiOS, Type: bug

#1129 Update STM32.Hardware with wake-up from GPIO
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_Power.cpp
Labels: Area: STM32-ChibiOS, Type: enhancement

#1136 Improvements on low power
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_Power.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_RTC.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL.cpp
Labels: Area: ESP32, Area: STM32-ChibiOS, Type: bug, Type: enhancement

#1139 Update for Smart Config
  src/PAL/Include/nanoPAL_Sockets.h
  src/PAL/Lwip/lwIP_Sockets.cpp
  targets/FreeRTOS/ESP32_DevKitC/Include/wifi_smart_config.h
  targets/FreeRTOS/ESP32_DevKitC/Lwip/nf_sockets.c
  targets/FreeRTOS/ESP32_DevKitC/Network/CMakeLists.txt
  targets/FreeRTOS/ESP32_DevKitC/Network/Esp32_SmartConfig.cpp
  targets/FreeRTOS/ESP32_DevKitC/Network/Esp32_Wireless.cpp
  targets/FreeRTOS/ESP32_DevKitC/Network/Target_Network.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/app_main.c
Labels: Area: ESP32, Type: enhancement

#1138 Update ESP32 flash partitions
  targets/FreeRTOS/ESP32_DevKitC/IDF/partitions_nanoclr_2mb.csv
  targets/FreeRTOS/ESP32_DevKitC/IDF/partitions_nanoclr_4mb.csv
Labels: Area: ESP32, Type: enhancement

#1140 Improvements and fixs for STM32F4 STBY enter & leave
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32-ChibiOS, Type: enhancement

#1141 Add support for STM32 Wakeup Reason
  src/HAL/Include/nanoHAL_Power.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_Power.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
Labels: Area: STM32-ChibiOS, Type: enhancement

#1142 Fix incorrect buffer assignment in 1-wire low-level code
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.c
Labels: Area: STM32-ChibiOS, Type: bug

#1125 Improve ESP32 power down code
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/targetHAL_Power.c
Labels: Area: ESP32, Type: enhancement

#1145 Fix 1-Wire configuration files inclusion
  CMake/Modules/FindnanoFramework.Devices.OneWire.cmake
  CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_nf_devices_onewire_config.cpp
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/target_nf_devices_onewire_config.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_nf_devices_onewire_config.cpp
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/target_nf_devices_onewire_config.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_devices_onewire_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_devices_onewire_config.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_nf_devices_onewire_config.cpp
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_nf_devices_onewire_config.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native_nanoFramework_Devices_OneWire_OneWireController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
  targets/FreeRTOS/ESP32_DevKitC/target_nf_devices_onewire_config.c
  targets/FreeRTOS/ESP32_DevKitC/target_nf_devices_onewire_config.cpp
Labels: Area: Common libs, Type: enhancement

#1146 Fix GetChannel in PWM
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmController.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
Labels: Area: STM32-ChibiOS, Type: bug

#1147 Add STM32F412xx to supported CPUs by PWM
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
Labels: Area: STM32-ChibiOS, Type: enhancement

#1148 Add managed helpers for ADC channels
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/managed_helpers/NETDUINO3_WIFI.Adc.cs
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/managed_helpers/README.md
Labels: Area: STM32-ChibiOS, Type: enhancement

#1149 Added nuget package to managed helpers
  azure-pipelines-templates/pack-publish-managed-helpers.yml
  azure-pipelines.yml
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/managed_helpers/package.nuspec
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/managed_helpers/package.nuspec
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/managed_helpers/package.nuspec
Labels: Area: Config-and-Build

#1150 Add STM32F405xx to supported CPUs by PWM
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
Labels: Area: STM32-ChibiOS, Type: enhancement

#1152 Update PowerShell install scripts to work from new location in subdirectory
  .gitignore
  install-scripts/install-arm-gcc-toolchain.ps1
  install-scripts/install-esp32-idf.ps1
  install-scripts/install-esp32-libs.ps1
  install-scripts/install-esp32-openocd.ps1
  install-scripts/install-esp32-toolchain.ps1
  install-scripts/install-esp32-tools.ps1
  install-scripts/install-nf-hex2dfu.ps1
  install-scripts/install-ninja.ps1
  install-scripts/install-stm32-tools.ps1
Labels: Area: Config-and-Build, Status: merge OK

#1151 Add Files to support compilation with Visual Studio 2017 Community Edition (Chibios)
  .gitignore
  .vs/launch.vs.json
  Build/README.md
  CMake/Modules/FindBuildUtils.cmake
  CMakeSettings.json
  VisualStudioDevelopment/CopyBuildOutput.cmd
  VisualStudioDevelopment/VSDevDirectoryStructure.png
  VisualStudioDevelopment/Visual Studio nf-interpreter development.md
Labels: Area: Config-and-Build, Status: merge OK

#1153 Fix GUID generator
  src/CLR/CorLib/corlib_native_System_Guid.cpp
Labels: Area: Common libs, Type: bug

#1155 Fix RMII_RXER pin config in STM32F769I target
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/board.h
Labels: Area: STM32-ChibiOS, Type: bug

#1158 Improvements on goto sleep workflow
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_Power.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
Labels: Area: ESP32, Area: STM32-ChibiOS, Type: bug

#1176 Add STM32F439xx to supported PWM targets
  targets/CMSIS-OS/ChibiOS/nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
Labels: Area: STM32-ChibiOS, Type: enhancement

#1177 Add support for including ChibiOS-Contrib repo in build
  CMake/ChibiOS-Contrib.CMakeLists.cmake.in
  CMake/Modules/FindCHIBIOS.cmake
  CMake/Modules/FindChibiOS-Contrib.cmake
  CMake/toolchain.ChibiOS.GCC.cmake
  CMakeLists.txt
  cmake-variants.TEMPLATE.json
  targets/CMSIS-OS/ChibiOS/Include/Target_BlockStorage_STM32FlashDriver.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/common/mbedtls_entropy_hardware_pool.c
  targets/CMSIS-OS/ChibiOS/common/nanoSupport_CRC32.c
  targets/CMSIS-OS/ChibiOS/nanoBooter/WireProtocol_MonitorCommands.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetHAL_Power.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/targetRandom.cpp
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/dummy_includes/hal_community.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/hal_nf_community.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_nand_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_nand_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sdram_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sdram_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sram_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_sram_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/hal_community.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_crc/hal_stm32_crc.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_flash/hal_stm32_flash.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_fsmc/hal_stm32_fsmc.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_onewire/hal_stm32_onewire.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_rng/hal_stm32_rng.c
Labels: Area: Config-and-Build

#1179 Fix to includes order for ChibiOS-Contrib
  CMake/Modules/FindChibiOS-Contrib.cmake
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/CMakeLists.txt
Labels: Area: STM32-ChibiOS, Type: bug

#1180 Update target platform for VC++ projects to 10.0.17134.0
  src/CLR/CorLib/CorLib.vcxproj
  src/CLR/Core/Core.vcxproj
  src/CLR/Core/Hardware/Hardware.vcxproj
  src/CLR/Core/Hardware/Hardware_stub.vcxproj
  src/CLR/Core/InterruptHandler/InterruptHandler.vcxproj
  src/CLR/Core/InterruptHandler/InterruptHandler_stub.vcxproj
  src/CLR/Core/NativeEventDispatcher/NativeEventDispatcher.vcxproj
  src/CLR/Core/NativeEventDispatcher/NativeEventDispatcher_stub.vcxproj
  src/CLR/Core/RPC/RPC.vcxproj
  src/CLR/Core/RPC/RPC_stub.vcxproj
  src/CLR/Core/Serialization/Serialization.vcxproj
  src/CLR/Core/Serialization/Serialization_stub.vcxproj
  src/CLR/Debugger/Debugger.vcxproj
  src/CLR/Debugger/Debugger_stub.vcxproj
  src/CLR/Diagnostics/Diagnostics.vcxproj
  src/CLR/Diagnostics/Diagnostics_stub.vcxproj
  src/CLR/Messaging/Messaging.vcxproj
  src/CLR/Messaging/Messaging_stub.vcxproj
  src/CLR/Startup/Startup.vcxproj
  src/CLR/WireProtocol/WireProtocol.vcxproj
  targets/os/win32/nanoCLR.sln
  targets/os/win32/nanoCLR/nanoCLR.vcxproj
Labels: Area: WIN32, Type: dependencies

#1181 Update mscorlib native declaration
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
Labels: Type: bug

#1182 Clean-up storage. file system and related options
  CMakeLists.txt
  CMakeSettings.json
  cmake-variants.TEMPLATE-ESP32.json
  cmake-variants.TEMPLATE.json
  targets/FreeRTOS/ESP32_DevKitC/BUILD-ESP32.md
Labels: Area: Config-and-Build

#1183 Rework CLR reboot
  src/CLR/Core/Execution.cpp
  src/CLR/Include/nanoCLR_Debugging.h
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLRStartup.cpp
  targets/FreeRTOS/ESP32_DevKitC/nanoCLR/CLRStartup.cpp
  targets/os/win32/nanoCLR/CLRStartup.cpp
Labels: Area: ESP32, Area: Interpreter, Area: STM32-ChibiOS, Area: WIN32, Breaking-change, Type: enhancement
