Repository nanoframework/nf-interpreter, pull requests merged in 2020-02, with the labels that each got.

#1544 Save Heap location and size in config
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Memory.cpp
Labels: Area: ESP32, Status: DONE

#1546 Gpio drivemode validation failed on ESP32
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.Gpio/cpu_gpio.cpp
Labels: Area: ESP32, Status: DONE

#1547 Fix check for datatype in GetType
  src/CLR/CorLib/corlib_native_System_Object.cpp
Labels: Area: Common libs, Type: bug

#1549 Fixes in Wire Protocol
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  azure-pipelines.yml
  cmake-variants.TEMPLATE-ESP32.json
  cmake-variants.TEMPLATE.json
  src/CLR/WireProtocol/WireProtocol_Message.c
Labels: Area: Common libs, Area: Config-and-Build, Type: bug

#1548 Upgrade to FatFS R0.14
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
  targets/CMSIS-OS/ChibiOS/FatFS/fatfs_diskio.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/ffconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/ffconf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/ffconf.h
Labels: Area: STM32, Type: enhancement

#1550 Fix WP header verification when CRC32 is not implemented
  src/CLR/WireProtocol/WireProtocol_Message.c
Labels: Area: Common libs, Type: bug

#1551 Work ChibiOS nf overlay
  azure-pipelines.yml
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf_nf.h
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_ReceiverThread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/hal_nf_community.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_crc/hal_stm32_crc.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_flash/hal_stm32_flash.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_fsmc/hal_stm32_fsmc.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_onewire/hal_stm32_onewire.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_qspi/hal_stm32_qspi.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/include/stm32_rng/hal_stm32_rng.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/README.md
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/CRCv1/crc_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv2/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FLASHv3/flash_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_nand_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/FSMCv1/fsmc_nand_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/QSPIv1/qspi_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/QSPIv1/qspi_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.h
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/hal_community.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_crc/hal_stm32_crc.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_flash/hal_stm32_flash.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_fsmc/hal_stm32_fsmc.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_onewire/hal_stm32_onewire.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_qspi/hal_stm32_qspi.c
  targets/CMSIS-OS/ChibiOS/nf-overlay/os/hal/src/stm32_rng/hal_stm32_rng.c
Labels: Area: ChibiOS, Area: Config-and-Build, Breaking-change

#1554 Implement paged request of assemblies available in the target
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Include/nanoCLR_Debugging.h
Labels: Area: Common libs, Breaking-change

#1553 Several fixes to 1-Wire on ESP32
  CMakeSettings.json
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native_nanoFramework_Devices_OneWire_OneWireController.cpp
Labels: Area: ESP32, Type: bug

#1555 Fix WP header verification when CRC32 is OFF
  src/CLR/WireProtocol/WireProtocol_Message.c
Labels: Area: Common libs, Type: bug

#1545 Update ESP32 build to IDF 3.3.1
  CMake/toolchain.xtensa-esp32-elf.cmake
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  azure-pipelines-templates/build-esp32.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  install-scripts/install-esp32-idf.ps1
  install-scripts/install-esp32-libs.ps1
  install-scripts/install-esp32-tools.ps1
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CopyLibs.cmd
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/CMakeLists.txt
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/cpu.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/target_board.h.in
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/sdkconfig
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/sdkconfig.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/sdkconfig.txt
Labels: Area: Config-and-Build, Area: ESP32, Area: FreeRTOS-ESP32, Status: DONE

#1556 Fix GetInteropNativeAssemblies
  src/CLR/Debugger/Debugger.cpp
Labels: Area: Common libs, Type: bug

#1558 Fix VS Code settings template
  .vscode/cmake-kits.TEMPLATE-ESP32.json
  .vscode/settings.TEMPLATE.json
Labels: Area: Config-and-Build, Type: enhancement

#1561 Fix inclusion of FatFS for ChibiOS
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
Labels: Area: ChibiOS, Area: Config-and-Build

#1562 Fix hardware CRC32 module inclusion
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/MBN_QUAIL/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/CMSIS-OS/ChibiOS/common/WireProtocol_ReceiverThread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_Startup_Thread.c
  targets/CMSIS-OS/ChibiOS/nanoCLR/target_platform.h.in
Labels: Area: STM32, Type: bug

#1563 Fix storage config for STM32F091
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/common/Device_BlockStorage-DEBUG.c
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/STM32F091xC_booter-DEBUG.ld
  targets/CMSIS-OS/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/STM32F091xC_CLR-DEBUG.ld
Labels: Area: STM32, Type: bug

#1560 Update ARM GCC toolchain to 9-2019-q4-major
  VisualStudioDevelopment/README.md
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
Labels: Area: Config-and-Build

#1565 Revert minimum CMake to 3.15
  CMake/CMSIS.CMakeLists.cmake.in
  CMake/ChibiOS.CMakeLists.cmake.in
  CMake/FatFS.CMakeLists.cmake.in
  CMake/FreeRTOS.CMakeLists.cmake.in
  CMake/LWIP.CMakeLists.cmake.in
  CMake/RTXRTOS.CMakeLists.cmake.in
  CMake/SPIFFS.CMakeLists.cmake.in
  CMake/STM32.CubePackage.CMakeLists.cmake.in
  CMake/SimpleLinkCC13x2_26x2Sdk.CMakeLists.cmake.in
  CMake/SimpleLinkCC32xxSdk.CMakeLists.cmake.in
  CMake/TI_XDCTools.CMakeLists.cmake.in
  CMake/mBedOS.CMakeLists.cmake.in
  CMake/mbedTLS.CMakeLists.cmake.in
  CMakeLists.txt
Labels: Area: Config-and-Build

#1568 Work on interop assemblies struct and collection
  CMake/Modules/NF_NativeAssemblies.cmake
  InteropAssemblies/CLR_RT_InteropAssembliesTable.cpp.in
  src/CLR/Debugger/Debugger.cpp
  targets/CMSIS-OS/ChibiOS/nanoCLR/CLR_RT_InteropAssembliesTable.cpp.in
Labels: Area: Common libs, Breaking-change, Type: bug

#1569 Work CD-CI
  azure-pipelines-templates/download-hexdfu.yml
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines-templates/download-install-ninja.yml
  azure-pipelines-templates/download-srecord.yml
Labels: Area: Config-and-Build
