Repository nanoframework/nf-interpreter, pull requests merged in 2021-12, with the labels that each got.

#2151 Add native bluetooth BLE support
  .vscode/cmake-variants.TEMPLATE.json
  CMake/Modules/FindNF_NativeAssemblies.cmake
  CMake/Modules/FindnanoFramework.Device.Bluetooth.cmake
  CMake/binutils.ESP32.cmake
  CMakeLists.txt
  azure-pipelines.yml
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  src/HAL/Include/nanoHAL_v2.h
  targets/ESP32/ESP32/cmake-variants.json
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_nanoCLR/Memory.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/esp32_nimble.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_ble.h
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_ble_nimble_chars.c
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native_nanoFramework_Device_Bluetooth_GenericAttributeProfile_GattLocalCharacteristic.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native_nanoFramework_Device_Bluetooth_GenericAttributeProfile_GattReadRequest.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native_nanoFramework_Device_Bluetooth_GenericAttributeProfile_GattServiceProvider.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/sys_dev_ble_native_nanoFramework_Device_Bluetooth_GenericAttributeProfile_GattWriteRequest.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Ble/blehr_sens.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Ble/gatt_svr.c
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Ble/nanoFramework_hardware_esp32_ble.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Ble/nanoFramework_hardware_esp32_ble_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Ble/nanoFramework_hardware_esp32_ble_native.h
  targets/ESP32/_nanoCLR/target_platform.h.in
Labels: Type: enhancement, Status: in progress, Area: Config-and-Build, do not merge, RTOS: ESP32

#2167 Work CI-CD
  azure-pipelines-templates/download-install-llvm.yml
Labels: Area: Config-and-Build

#2166 Fix depleting lwip socket pool
  targets/ChibiOS/_Lwip/nf_sockets.c
  targets/ESP32/_lwIP/nf_sockets.c
  targets/FreeRTOS/NXP/_LwIP/nf_sockets.c
Labels: Type: bug, Area: Common libs, RTOS: ChibiOS, RTOS: ESP32

#2169 Fix Bluetooth options in cmake-variants
  .vscode/cmake-variants-DEVCONTAINER.json
  targets/ESP32/ESP32/cmake-variants.json
  targets/ESP32/ESP32_S2/cmake-variants.json
Labels: Area: Config-and-Build

#2171 Fix declaration of FSMC driver in ChibiOS NF contrib
  targets/ChibiOS/_nf-overlay/os/hal/src/stm32_fsmc/hal_stm32_fsmc.c
Labels: Type: enhancement, RTOS: ChibiOS

#2172 Simplification of WP HAL Interface
  targets/ChibiOS/NETDUINO3_WIFI/common/usbcfg.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/common/usbcfg.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/main.c
  targets/ChibiOS/_common/WireProtocol_HAL_Interface.c
Labels: Type: enhancement, RTOS: ChibiOS

#2173 Remove NETDUINO and add M5Stack targets
  README.md
  README.zh-cn.md
  azure-pipelines-nightly.yml
  azure-pipelines-templates/download-install-ninja.yml
  targets/ChibiOS/NETDUINO3_WIFI/CMakeLists.txt
  targets/ChibiOS/NETDUINO3_WIFI/README.md
  targets/ChibiOS/NETDUINO3_WIFI/board.c
  targets/ChibiOS/NETDUINO3_WIFI/board.h
  targets/ChibiOS/NETDUINO3_WIFI/cmake-variants.json
  targets/ChibiOS/NETDUINO3_WIFI/common/CMakeLists.txt
  targets/ChibiOS/NETDUINO3_WIFI/common/Device_BlockStorage-DEBUG.c
  targets/ChibiOS/NETDUINO3_WIFI/common/Device_BlockStorage.c
  targets/ChibiOS/NETDUINO3_WIFI/common/usbcfg.c
  targets/ChibiOS/NETDUINO3_WIFI/common/usbcfg.h
  targets/ChibiOS/NETDUINO3_WIFI/ffconf.h
  targets/ChibiOS/NETDUINO3_WIFI/launch.json
  targets/ChibiOS/NETDUINO3_WIFI/managed_helpers/NETDUINO3_WIFI.Adc.cs
  targets/ChibiOS/NETDUINO3_WIFI/managed_helpers/README.md
  targets/ChibiOS/NETDUINO3_WIFI/managed_helpers/package.nuspec
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/CMakeLists.txt
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/chconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf_nf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/main.c
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/mcuconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/mcuconf_nf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/netduino3wifi_booter-DEBUG.ld
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/netduino3wifi_booter.ld
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/target_board.h.in
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/CMakeLists.txt
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/chconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf_nf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/main.c
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf_nf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/nanoHAL.cpp
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/netduino3wifi_CLR-DEBUG.ld
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/netduino3wifi_CLR.ld
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/target_board.h.in
  targets/ChibiOS/NETDUINO3_WIFI/target_BlockStorage.c
  targets/ChibiOS/NETDUINO3_WIFI/target_BlockStorage.h
  targets/ChibiOS/NETDUINO3_WIFI/target_common.c
  targets/ChibiOS/NETDUINO3_WIFI/target_common.h.in
  targets/ChibiOS/NETDUINO3_WIFI/target_nf_devices_can_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_nf_devices_can_config.h
  targets/ChibiOS/NETDUINO3_WIFI/target_nf_devices_onewire_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_nf_devices_onewire_config.h
  targets/ChibiOS/NETDUINO3_WIFI/target_system_device_adc_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_system_device_i2c_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_system_device_spi_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_system_devices_dac_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_system_io_ports_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_system_io_ports_config.h
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_devices_adc_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_devices_i2c_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_devices_serialcommunication_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_devices_serialcommunication_config.h
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_devices_spi_config.cpp
  targets/ChibiOS/NETDUINO3_WIFI/target_windows_storage_config.h
Labels: Type: documentation, Area: Config-and-Build

#2176 Fix orgpal3 build
  targets/ChibiOS/ORGPAL_PALTHREE/common/usbcfg.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/main.c
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/main.c
Labels: Type: bug

#2174 Fix SPIFFS option
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/main.c
  targets/ChibiOS/ORGPAL_PALTHREE/target_windows_storage_config.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_windows_storage_config.h
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFile.cpp
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Area: Config-and-Build

#2185 Fix SerialPort dispose
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug, RTOS: ESP32

#2182 Move to ChibiOS 21.11
  .devcontainer/scripts/git-pull-repos.sh
  .devcontainer/sources/Dockerfile.All
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  src/CLR/Include/nf_errors_exceptions.h
  targets/ChibiOS/CMakeLists.txt
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/halconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/halconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/target_spiffs.c
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/ChibiOS/_common/syscalls.c
  targets/ChibiOS/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/ChibiOS/_nanoCLR/Windows.Devices.Spi/cpu_spi.cpp
Labels: Type: dependencies, RTOS: ChibiOS

#2186 Corrections to flash driver documentation
  targets/ChibiOS/_nanoBooter/WireProtocol_MonitorCommands.c
  targets/ChibiOS/_nf-overlay/README.md
  targets/ChibiOS/_nf-overlay/stm32-internal-flash-driver.md
Labels: Type: documentation

#2190 Fix storage of certificates in ESP32
  src/CLR/WireProtocol/WireProtocol_MonitorCommands.c
  src/HAL/Include/nanoHAL_ConfigurationManager.h
  targets/ESP32/_IDF/esp32/app_main.c
  targets/ESP32/_Include/targetHAL_ConfigStorage.h
  targets/ESP32/_common/targetHAL_ConfigStorageSPIFFS.c
  targets/ESP32/_common/targetHAL_ConfigurationManager.cpp
Labels: Type: bug, RTOS: ESP32

#2191 Fix exception in GetIsNetworkAvailable
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
Labels: Type: bug

#2192 2nd write to open file clears file
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
Labels: Type: bug, Platform: ESP32

#2195 Update IDF to 4.3.2
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
Labels: Type: dependencies, RTOS: ESP32

#2170 Improve managed heap allocation
  targets/ESP32/_nanoCLR/Memory.cpp
Labels: Type: enhancement, RTOS: ESP32

#2197 Adjust lwIP configs for ESP32
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
Labels: Area: Config-and-Build, RTOS: ESP32

#2198 Revert lwIP PCBs for ESP32 to 16
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
Labels: Area: Config-and-Build, RTOS: ESP32

#2199 Improvements in lwIP
  CMake/binutils.ESP32.cmake
  targets/ChibiOS/_Lwip/arch/cc.h
  targets/ChibiOS/_include/lwipopts.h
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_Include/lwipopts.h
Labels: Type: enhancement, Area: Config-and-Build, RTOS: ChibiOS, RTOS: ESP32

#2200 Rename M5Stack to M5Core
  README.md
  README.zh-cn.md
  azure-pipelines-nightly.yml
Labels: Type: documentation, Area: Config-and-Build

#2201 Fix IDF paths for dev container
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  .github/workflows/all.yaml
  .github/workflows/esp32.yml
  azure-pipelines.yml
Labels: Area: Config-and-Build

#2203 GetIPAddress now returns the correct object
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_IPGlobalProperties.cpp
Labels: Type: bug, Area: Common libs
