Repository nanoframework/nf-interpreter, pull requests merged in 2021-03, with the labels that each got.

#1837 Fix partition tables for 4MB and 8MB
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_4mb.csv
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_8mb.csv
Labels: Area: ESP32, Type: bug

#1839 Improve partition tables generation
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
Labels: Area: Config-and-Build, Area: ESP32

#1838 Improvements in block storage and target definitions
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/Target_BlockStorage_Esp32FlashDriver.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Include/targetHAL.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/Device_BlockStorage.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_common.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_common.h.in
Labels: Area: ESP32, Type: enhancement

#1844 Rework Info to improve output of WIN32 nanoCLR
  src/CLR/Diagnostics/Info.cpp
Labels: Area: WIN32, Type: enhancement

#1846 Add VC runtime to the nuget
  targets/win32/msvc_redist/vcruntime140.dll
  targets/win32/nanoFramework.nanoCLR.Win32.nuspec
Labels: Type: enhancement

#1843 ToString() reimplementation
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Number.cpp
  src/CLR/Helpers/nanoprintf/nanoprintf.c
  src/CLR/Helpers/nanoprintf/nanoprintf.h
Labels: Type: bug, Type: enhancement

#1847 Add nanoprintf to nanoCLR for WIN32
  src/CLR/CorLib/CorLib.vcxproj
  src/CLR/CorLib/corlib_native_System_Number.cpp
  src/CLR/Core/Core.vcxproj
  src/CLR/Core/Core.vcxproj.filters
  targets/win32/nanoCLR/nanoCLR.vcxproj
Labels: Area: WIN32, Type: enhancement

#1848 Fix time base API
  src/CLR/Include/nanoCLR_Runtime.h
  src/CLR/WireProtocol/WireProtocol_Message.c
  src/HAL/Include/nanoHAL_Time.h
  src/HAL/nanoHAL_Time.cpp
  targets/CMSIS-OS/ChibiOS/common/targetHAL_Time.cpp
  targets/FreeRTOS/common/targetHAL_Time.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/targetHAL_Time.cpp
  targets/TI-SimpleLink/common/platformHAL_Time.cpp
  targets/win32/Include/targetHAL_Time.h
  targets/win32/nanoCLR/PAL/time_stubs.cpp
  targets/win32/nanoCLR/nanoCLR.vcxproj
  targets/win32/nanoCLR/nanoCLR.vcxproj.filters
  targets/win32/nanoCLR/targetHAL_Time.cpp
Labels: Area: WIN32, Type: bug, Type: enhancement

#1849 Replace default radom implementation for WIN32
  src/CLR/Core/Core.vcxproj
  src/CLR/Core/Core.vcxproj.filters
  targets/win32/nanoCLR/nanoCLR.vcxproj
  targets/win32/nanoCLR/nanoCLR.vcxproj.filters
  targets/win32/nanoCLR/targetRandom.cpp
Labels: Area: WIN32, Type: enhancement

#1850 Fix bool timer implementation in WIN32
  targets/win32/nanoCLR/nanoCLR.vcxproj
  targets/win32/nanoCLR/nanoCLR.vcxproj.filters
  targets/win32/nanoCLR/targetPAL_Events.cpp
  targets/win32/nanoCLR/targetPAL_Time.cpp
Labels: Area: WIN32, Type: bug

#1851 Fix exception thrown on Timer constructor
  src/CLR/Core/CLR_RT_HeapBlock_Timer.cpp
Labels: Area: Common libs, Type: bug

#1852 Update nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
Labels: Area: ESP32, Type: bug

#1854 Fixed ESP32 GPIO Uninitialize
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Windows.Devices.Gpio/cpu_gpio.cpp
Labels: Area: ESP32, Type: bug

#1855 Fix ESP32 Partition table
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_16mb.csv
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/partitions_nanoclr_8mb.csv
Labels: Area: ESP32, Type: bug

#1856 Fix output of SystemInfo for Win32 CLR
  targets/win32/nanoCLR/Various.cpp
Labels: Area: WIN32, Type: bug

#1857 Network improvements
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Security_SslNative.cpp
  src/PAL/COM/sockets/ssl/ssl_stubs.cpp
  src/PAL/Lwip/lwIP_Sockets.cpp
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: Common libs, Type: bug

#1858 Implement native support for new Network Information calls
  CMake/Modules/FindSystem.Net.cmake
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_IPGlobalProperties.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
  src/PAL/COM/sockets/sockets_lwip.cpp
  src/PAL/Include/nanoPAL_Sockets.h
  src/PAL/Lwip/lwIP_Sockets.cpp
  src/PAL/Lwip/lwIP_Sockets.h
  src/PAL/Lwip/lwIP_Sockets_functions.cpp
  targets/TI-SimpleLink/common/simplelink_sockets_functions.cpp
  targets/TI-SimpleLink/common/sockets_simplelink.cpp
Labels: Area: Common libs, Type: enhancement

#1859 Work System.Net
  CMake/Modules/FindSystem.Net.cmake
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_IPAddress.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_IPGlobalProperties.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Sockets_NativeSocket.cpp
Labels: Area: Common libs, Type: enhancement

#1860 Move IP conversions to sockets driver
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_IPAddress.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
  src/PAL/COM/sockets/sockets_lwip.cpp
  src/PAL/Include/nanoPAL_Sockets.h
  src/PAL/Lwip/lwIP_Sockets.cpp
  src/PAL/Lwip/lwIP_Sockets.h
  src/PAL/Lwip/lwIP_Sockets_functions.cpp
  targets/TI-SimpleLink/common/simplelink_sockets.cpp
  targets/TI-SimpleLink/common/simplelink_sockets_functions.cpp
  targets/TI-SimpleLink/common/sockets_simplelink.cpp
Labels: Area: Common libs, Type: enhancement

#1861 Update mbedTLS to 2.26.0
  src/PAL/COM/sockets/ssl/mbedTLS/nf_mbedtls_config.h
  targets/CMSIS-OS/ChibiOS/CMakeLists.txt
Labels: Type: dependencies

#1863 Add device stored certificate
  src/CLR/Debugger/Debugger.cpp
  src/HAL/Include/nanoHAL_ConfigurationManager.h
  src/HAL/Include/nanoHAL_Network.h
  src/HAL/nanoHAL_ConfigurationManager.c
  targets/CMSIS-OS/ChibiOS/common/targetHAL_ConfigurationManager.cpp
  targets/FreeRTOS/NXP/common/targetHAL_ConfigurationManager.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL_ConfigurationManager.cpp
Labels: Type: enhancement

#1864 Secure sockets now can use stored device certificate
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Security_SslNative.cpp
  src/PAL/COM/sockets/Sockets_debugger.cpp
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_generic_init_internal.cpp
  src/PAL/COM/sockets/ssl/ssl.cpp
  src/PAL/COM/sockets/ssl/ssl_functions.h
  src/PAL/COM/sockets/ssl/ssl_stubs.cpp
  src/PAL/Include/nanoPAL_Sockets.h
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: Common libs, Type: dependencies, Type: enhancement

#1862 Update mscorlib declaration
  CMake/Modules/FindNF_CoreCLR.cmake
  src/CLR/CorLib/CorLib.vcxproj
  src/CLR/CorLib/CorLib.vcxproj.filters
  src/CLR/CorLib/corlib_native.cpp
  src/CLR/CorLib/corlib_native.h
  src/CLR/CorLib/corlib_native_System_Console.cpp
Labels: Breaking-change, Type: dependencies

#1865 Add new APIs to nanoCLR WIN32
  src/DeviceInterfaces/Networking.Sntp/Networking.Sntp.vcxproj
  src/DeviceInterfaces/Networking.Sntp/Networking.Sntp.vcxproj.filters
  src/DeviceInterfaces/Networking.Sntp/nf_networking_sntp.cpp
  src/DeviceInterfaces/Networking.Sntp/nf_networking_sntp.h
  src/DeviceInterfaces/Networking.Sntp/nf_networking_sntp_nanoFramework_Networking_Sntp.cpp
  src/DeviceInterfaces/Networking.Sntp/nf_networking_sntp_nanoFramework_Networking_Sntp_stubs.cpp
  src/DeviceInterfaces/System.Net/System.Net.vcxproj
  src/DeviceInterfaces/System.Net/System.Net.vcxproj.filters
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_IPAddress_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_IPGlobalProperties_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_Wireless80211Configuration_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_WirelessAPConfiguration_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Security_CertificateManager_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Security_SslNative_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Sockets_NativeSocket_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Security_Cryptography_X509Certificates_X509Certificate2_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Security_Cryptography_X509Certificates_X509Certificate_stubs.cpp
  src/Windows.Storage/Windows.Storage.vcxproj
  src/Windows.Storage/Windows.Storage.vcxproj.filters
  src/Windows.Storage/win_storage_native.cpp
  src/Windows.Storage/win_storage_native_Windows_Storage_Devices_SDCard_stubs.cpp
  src/Windows.Storage/win_storage_native_Windows_Storage_FileIO_stubs.cpp
  src/Windows.Storage/win_storage_native_Windows_Storage_StorageFile_stubs.cpp
  src/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder_stubs.cpp
  targets/win32/nanoCLR.sln
  targets/win32/nanoCLR/Generated/CLR_RT_InteropAssembliesTable.cpp
  targets/win32/nanoCLR/nanoCLR.vcxproj
Labels: Area: WIN32, Type: enhancement

#1866 Remove Windows.Networking.Sockets
  .vscode/cmake-variants-DEVCONTAINER.json
  .vscode/cmake-variants.TEMPLATE.json
  CMake/Modules/FindNF_NativeAssemblies.cmake
  CMake/Modules/FindWindows.Networking.Sockets.cmake
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  src/Windows.Networking.Sockets/win_net_sockets_native.cpp
  src/Windows.Networking.Sockets/win_net_sockets_native.h
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/README.md
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/cmake-variants.json
Labels: Area: Config-and-Build

#1867 Work CI-CD
  .devcontainer/Dockerfile
  install-scripts/install-arm-gcc-toolchain.ps1
  install-scripts/install-esp32-libs.ps1
  install-scripts/install-srecord.ps1
Labels: Area: Config-and-Build

#1868 Update TI SimpleLink SDK and tools
  CMake/Modules/FindTI_SimpleLink.cmake
  targets/TI-SimpleLink/CMakeLists.txt
Labels: Area: Config-and-Build, Area: TI-SimpleLink

#1869 Fix SSL DataAvailable call
  CMake/Modules/FindNF_Networking.cmake
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_available_internal.cpp
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_pending_internal.cpp
  src/PAL/COM/sockets/ssl/ssl.cpp
  src/PAL/COM/sockets/ssl/ssl_functions.h
  targets/TI-SimpleLink/common/ssl_simplelink.cpp
Labels: Area: ChibiOS, Area: Common libs, Area: FreeRTOS, Area: FreeRTOS-ESP32, Type: bug

#1870 Work on SNTP
  src/DeviceInterfaces/Networking.Sntp/lwip_sntp_default_options.h
  src/DeviceInterfaces/Networking.Sntp/nf_lwipopts_sntp.h
  targets/CMSIS-OS/ChibiOS/Lwip/nf_lwipthread.c
  targets/CMSIS-OS/ChibiOS/ORGPAL_PALTHREE/target_lwip_sntp_opts.h
  targets/CMSIS-OS/ChibiOS/ST_STM32F769I_DISCOVERY/target_lwip_sntp_opts.h
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/target_lwip_sntp_opts.h
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/Network/targetHAL_Network.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/target_lwip_sntp_opts.h
  targets/TI-SimpleLink/Include/targetSimpleLinkCC32xx_Sntp.h
  targets/TI-SimpleLink/TI_CC3220SF_LAUNCHXL/target_sntp_opts.h
  targets/TI-SimpleLink/nanoCLR/targetSimpleLinkCC32xx_Threads.c
Labels: Area: Common libs, Breaking-change

#1871 Fix call to data available in SSL stream
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_available_internal.cpp
Labels: Area: Common libs, Type: bug
