Repository nanoframework/nf-interpreter, pull requests merged in 2021-08, with the labels that each got.

#1993 Improvements in ChibiOS HAL
  CMake/Modules/FindChibiOS.cmake
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  CMake/binutils.ChibiOS.cmake
Labels: Area: ChibiOS, Area: Config-and-Build

#1994 Further improvements in ChibiOS HAL and ST build
  CMake/Modules/FindChibiOS.cmake
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  CMake/binutils.ChibiOS.cmake
Labels: Area: ChibiOS, Area: Config-and-Build

#1996 Resolve Certifcate Trust error with Mqtt connect
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/CMakeLists.txt
Labels: Type: bug

#1995 Fix assembly load
  src/CLR/CorLib/corlib_native_System_Reflection_Assembly.cpp
Labels: Area: Interpreter, Type: bug

#1997 Fix ChibiOS HAL build
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  CMake/binutils.ChibiOS.cmake
  targets/ChibiOS/CMakeLists.txt
Labels: Area: Config-and-Build, Area: ChibiOS

#1998 Move NF ChibiOS overlay to ChibiOS HAL
  CMake/Modules/CHIBIOS_STM32F0xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_sources.cmake
  CMake/Modules/FindChibiOS.cmake
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  CMake/Modules/FindChibiOSnfOverlay.cmake
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/RNGv1/rng_lld.c
Labels: Area: Config-and-Build, Area: ChibiOS

#1999 mbedTLS fix for pre built libraries
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/Libraries/Wroom32/sdkconfig
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/Libraries/Wroom32BLE/sdkconfig
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/IDF/Libraries/Wroom32V3/sdkconfig
Labels: Area: Config-and-Build, Area: ESP32

#2000 Update README.md
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/README.md
Labels: Type: bug

#2001 Update cache key so cache re-built
  azure-pipelines-templates/download-install-esp32-build-components.yml
Labels: Area: Config-and-Build

#2002 Add Flash driver for STM32L4
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/FLASHv4/README.md
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/FLASHv4/flash_lld.c
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/FLASHv4/flash_lld.h
Labels: Type: enhancement, Area: ChibiOS

#2004 Add support for STM32L4 series
  targets/ChibiOS/_Include/targetPAL.h
  targets/ChibiOS/_common/hard_fault_handler.c
  targets/ChibiOS/_nanoCLR/CMakeLists.txt
  targets/ChibiOS/_nanoCLR/targetHAL_Watchdog.c
  targets/ChibiOS/_nanoCLR/targetPAL.c
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/FLASHv4/flash_lld.c
Labels: Type: enhancement, Area: ChibiOS

#2007 Native nanoCLR_GetVersion interop refactoring
  targets/netcore/nanoFramework.nanoCLR.Host/Interop/nanoCLR.cs
  targets/netcore/nanoFramework.nanoCLR.Host/NanoClrHostBuilder.cs
  targets/netcore/nanoFramework.nanoCLR/nanoCLR_native.cpp
  targets/netcore/nanoFramework.nanoCLR/nanoCLR_native.h
Labels: Type: enhancement

#2008 Fix RX in TI SimpleLink
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/target_common.h.in
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/target_system_io_serial_config.cpp
  targets/TI-SimpleLink/TI_CC1352R1_LAUNCHXL/target_system_io_serial_config.h
  targets/TI-SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialDevice.cpp
  targets/TI-SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
Labels: Type: enhancement, Area: TI-SimpleLink

#2010 Fix memory leak when parsing X509 certs
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_parse_certificate_internal.cpp
Labels: Type: bug, Area: Common libs

#2011 Add new compiler warnings
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC13x2_26x2_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC32xx_GCC_options.cmake
  src/CLR/CorLib/corlib_native_System_Reflection_Assembly.cpp
  src/CLR/Core/Cache.cpp
  src/CLR/Core/Thread.cpp
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Helpers/nanoprintf/nanoprintf.c
  src/PAL/Include/nanoPAL_AsyncProcCalls_decl.h
  src/nanoFramework.Graphics/TouchPanel/Core/TouchPanel.cpp
  targets/ChibiOS/_Lwip/nf_lwipthread.c
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_FileIO.cpp
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.c
Labels: Type: bug, Area: Config-and-Build, Area: Common libs

#2013 Remove serial configuration from ST_NUCLEO64_F091RC
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
Labels: Type: enhancement, Area: ChibiOS

#2012 Fix WireProtocol Receive processing
  src/CLR/Include/WireProtocol.h
  src/CLR/Include/WireProtocol_HAL_Interface.h
  src/CLR/WireProtocol/WireProtocol_HAL_Interface.c
  src/CLR/WireProtocol/WireProtocol_Message.c
  targets/ChibiOS/_common/WireProtocol_HAL_Interface.c
  targets/FreeRTOS/NXP/_common/WireProtocol_HAL_Interface.c
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/common/WireProtocol_HAL_Interface.c
  targets/TI-SimpleLink/_common/WireProtocol_HAL_Interface.c
Labels: Type: bug, Area: Common libs, Area: ChibiOS, Area: FreeRTOS-ESP32, Area: FreeRTOS

#2014 Rework write operation on ST32 nanoHAL Flash v1
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/FLASHv1/flash_lld.c
Labels: Type: bug, Area: ChibiOS

#2015 Add compiler definition to use memory allocation for larger debugger vars
  src/CLR/Debugger/Debugger.cpp
  targets/ChibiOS/ST_NUCLEO64_F091RC/CMakeLists.txt
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/main.c
  targets/ChibiOS/ST_NUCLEO64_F091RC/target_common.h.in
Labels: Type: enhancement

#2016 Added monitor parent pid param to the RUN command
  targets/netcore/nanoFramework.nanoCLR.CLI/RunCommandLineOptions.cs
  targets/netcore/nanoFramework.nanoCLR.CLI/RunCommandProcessor.cs
Labels: Type: enhancement

#2018 Work CI-CD
  CMake/binutils.ChibiOS.cmake
  CMake/binutils.common.cmake
Labels: Area: Config-and-Build

#2019 Work CI-CD
  CMake/binutils.ChibiOS.cmake
  CMake/binutils.TI_SimpleLink.cmake
  CMakeLists.txt
  targets/ChibiOS/CMakeLists.txt
  targets/ChibiOS/_include/CMakeLists.txt
Labels: Area: Config-and-Build

#2020 Update build
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/FindNF_CoreCLR.cmake
  CMake/Modules/FindNF_NativeAssemblies.cmake
  CMake/Modules/FreeRTOS_IMXRT10xx_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC13x2_26x2_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC32xx_GCC_options.cmake
  CMake/binutils.ChibiOS.cmake
  CMake/binutils.TI_SimpleLink.cmake
Labels: Area: Config-and-Build
