Repository nanoframework/nf-interpreter, pull requests merged in 2021-07, with the labels that each got.

#1971 Fix inclusion of compiler definitions
  CMake/binutils.FreeRTOS.cmake
  CMake/binutils.TI_SimpleLink.cmake
Labels: Area: Config-and-Build, Area: FreeRTOS, Area: TI-SimpleLink

#1970 Refactor repeated code in WireProtocol
  src/CLR/Include/WireProtocol_App_Interface.h
  src/CLR/Messaging/Messaging.cpp
  src/CLR/WireProtocol/WireProtocol_App_Interface.c
  targets/ChibiOS/_nanoBooter/WireProtocol_App_Interface.c
  targets/FreeRTOS/NXP/_nanoBooter/WireProtocol_App_Interface.c
Labels: Area: Common libs, Area: NXP, Area: STM32, Type: enhancement

#1973 Fix Assembly.Load with static constructors and fields
  src/CLR/CorLib/corlib_native_System_Reflection_Assembly.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Type: bug

#1972 Add System.Device.Gpio project to WIN32 CLR
  src/System.Device.Gpio/System.Device.Gpio.filters
  src/System.Device.Gpio/System.Device.Gpio.vcxproj
  src/System.Device.Gpio/sys_dev_gpio_native.h
  src/System.Device.Gpio/sys_dev_gpio_native_System_Device_Gpio_GpioController_stubs.cpp
  src/System.Device.Gpio/sys_dev_gpio_native_System_Device_Gpio_GpioPin_stubs.cpp
  targets/win32/nanoCLR.sln
  targets/win32/nanoCLR/Generated/CLR_RT_InteropAssembliesTable.cpp
  targets/win32/nanoCLR/nanoCLR.vcxproj
Labels: Area: WIN32, Type: documentation

#1974 Fix Serial BytesToRead
  targets/TI-SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialDevice.cpp
Labels: Area: TI-SimpleLink, Type: bug

#1977 Fix update config with certificate (CA and device)
  src/CLR/Debugger/Debugger.cpp
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL_ConfigurationManager.cpp
Labels: Area: ESP32, Type: bug

#1978 Corrected some position combinations when R/W to backup memory
  targets/ChibiOS/_nanoCLR/nanoFramework.Hardware.Stm32/nf_hardware_stm32_native_nanoFramework_Hardware_Stm32_BackupMemory.cpp
Labels: Area: STM32, Type: bug

#1980 Update for new ESP32 targets
  README.zh-cn.md
Labels: Type: documentation

#1981 Enable sys.io.file for ESP32 targets
  azure-pipelines.yml
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/cmake-variants.json
Labels: Area: Config-and-Build, Area: ESP32

#1982 Update ChibiOS to v21.6
  .devcontainer/scripts/git-pull-repos.sh
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ChibiOS
  CMake/Modules/CHIBIOS_STM32F0xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_sources.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_sources.cmake
  CMake/Modules/FindChibiOS.cmake
  CMake/Modules/FindChibiOS_F0_HAL.cmake
  CMake/Modules/FindChibiOS_F4_HAL.cmake
  CMake/Modules/FindChibiOS_F7_HAL.cmake
  CMake/Modules/FindChibiOS_H7_HAL.cmake
  CMake/Modules/FindChibiOS_L0_HAL.cmake
  CMake/Modules/FindChibiOS_L4_HAL.cmake
  CMake/binutils.ChibiOS.cmake
  targets/ChibiOS/CMakeLists.txt
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/chconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/halconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoBooter/mcuconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/chconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/halconf.h
  targets/ChibiOS/NETDUINO3_WIFI/nanoCLR/mcuconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/chconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/halconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/mcuconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/chconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/halconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/mcuconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/halconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/chconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/halconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/chconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/halconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/mcuconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/halconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/mcuconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/chconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/halconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/mcuconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/chconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/halconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/mcuconf.h
  targets/ChibiOS/_common/Target_Windows_Storage.c
  targets/ChibiOS/_nanoCLR/Windows.Devices.Gpio/cpu_gpio.cpp
  targets/ChibiOS/_nanoCLR/targetPAL_Events.cpp
  targets/ChibiOS/_nanoCLR/targetPAL_Time.cpp
Labels: Area: ChibiOS, Type: dependencies

#1984 Adjusting build container
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  .github/workflows/all.yaml
  .github/workflows/esp32.yml
Labels: Area: Config-and-Build

#1985 ChibiOS is now fetched from official SVN repo
  targets/ChibiOS/CMakeLists.txt
Labels: Area: Config-and-Build

#1986 Make available enough memory for SSL
  azure-pipelines.yml
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/Memory.cpp
Labels: Area: ESP32, Type: bug

#1988 Updating dev container for ChibiOS using svn
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/scripts/git-pull-repos.sh
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ChibiOS
  .github/workflows/all.yaml
  .github/workflows/chibios.yaml
  targets/ChibiOS/CMakeLists.txt
Labels: Area: Config-and-Build, Type: bug

#1990 Disable Bluetooth test code to allow debugging
  targets/FreeRTOS_ESP32/ESP32_WROOM_32/nanoCLR/targetHAL.cpp
Labels: Type: bug

#1989 Remove need for source control in chibios
  targets/ChibiOS/CMakeLists.txt
Labels: Area: Config-and-Build
