Repository nanoframework/nf-interpreter, pull requests merged in 2022-04, with the labels that each got.

#2284 Add support for SPI bus configuration
  src/PAL/Include/CPU_SPI_decl.h
  src/System.Device.Spi/nanoHAL_Spi.cpp
  src/System.Device.Spi/sys_dev_spi_native.cpp
  src/System.Device.Spi/sys_dev_spi_native.h
  src/System.Device.Spi/sys_dev_spi_native_System_Device_Spi_SpiDevice.cpp
  targets/ChibiOS/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/ChibiOS/_nanoCLR/System.Device.Spi/sys_dev_spi_native_target.h
  targets/ESP32/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_nanoFramework_System_IO_FileSystem_SDCard.cpp
  targets/ESP32/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_Devices_SDCard.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
Labels: Type: enhancement, Type: dependencies, RTOS: ChibiOS, RTOS: ESP32

#2285 Work CI-CD
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  azure-pipelines-nightly.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
Labels: Area: Config-and-Build, Area: Dev-Containers

#2286 Update paths in build containers
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
Labels: Area: Dev-Containers

#2288 Fix path in dev containers
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
Labels: Area: Dev-Containers

#2289 Work on storage of network config
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
Labels: Type: enhancement, Area: Common libs

#2290 Move to CMake presets
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/Dockerfile.ESP32
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.TI
  .gitignore
  .vs/tasks.vs.SAMPLE.json
  .vscode/cmake-variants-DEVCONTAINER.json
  .vscode/cmake-variants.TEMPLATE.json
  CMakeLists.txt
  CMakePresets.json
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  CMakeUserPresets.CI.json
  CMakeUserPresets.TEMPLATE.json
  SetNFRoot.bat
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-chibios-stm32.yml
  azure-pipelines-templates/build-esp32.yml
  azure-pipelines-templates/build-freertos-nxp.yml
  azure-pipelines-templates/build-ti-simplelink.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  build.ps1
  install-scripts/Initialize-VSCode.ps1
  install-scripts/Set-PathVariable.ps1
  install-scripts/Set-VSCode-CMakes.ps1
  install-scripts/Set-VSCode-Launch.ps1
  install-scripts/Set-VSCode-Tasks.ps1
  install-scripts/install-arm-gcc-toolchain.ps1
  install-scripts/install-cmake.ps1
  install-scripts/install-nf-hex2dfu.ps1
  install-scripts/install-nf-tools.ps1
  install-scripts/install-ninja.ps1
  install-scripts/install-openocd.ps1
  install-scripts/install-srecord.ps1
  install-scripts/install-stm32-tools.ps1
  sd1.bat
  targets/ChibiOS/CMakeLists.txt
  targets/ChibiOS/ORGPAL_PALTHREE/cmake-variants.json
  targets/ChibiOS/ST_NUCLEO64_F091RC/cmake-variants.json
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/cmake-variants.json
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/cmake-variants.json
  targets/ESP32/ESP32/cmake-variants.json
  targets/ESP32/ESP32_S2/cmake-variants.json
  targets/FreeRTOS/CMakeLists.txt
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/cmake-variants.json
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/cmake-variants.json
  targets/TI_SimpleLink/TI_CC3220SF_LAUNCHXL/cmake-variants.json
Labels: Area: Config-and-Build, Area: Dev-Containers

#2291 Work CI-CD
  CMakePresets.json
  CMakeUserPresets.CI.json
  CMakeUserPresets.TEMPLATE.json
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-chibios-stm32.yml
  azure-pipelines-templates/build-esp32.yml
  azure-pipelines-templates/build-freertos-nxp.yml
  azure-pipelines-templates/build-ti-simplelink.yml
  azure-pipelines-templates/setup-cmake-user-presets.yml
  azure-pipelines.yml
Labels: Area: Config-and-Build

#2281 Improves readme
  README.md
  README.zh-cn.md
Labels: Type: documentation

#2293 Fix esp32 path in container and add template user presets
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  CMakeUserPresets.TEMPLATE.json
Labels: Type: bug, Type: enhancement, Area: Dev-Containers

#2294 Fix ESP32 container build
  .devcontainer/sources/Dockerfile.ESP32
Labels: Type: bug

#2295 Add missing PWM default to CMakePresets.json
  CMakePresets.json
  CMakeUserPresets.TEMPLATE.json
Labels: Area: Config-and-Build
