Repository nanoframework/nf-interpreter, pull requests merged in 2022-02, with the labels that each got.

#2244 Fix Environment.TickCount64
  src/nanoFramework.Runtime.Native/nf_rt_native_System_Environment.cpp
Labels: Type: bug, Area: Common libs

#2246 Migration to ESP32 IDF 4.4
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  .github/workflows/all.yaml
  .github/workflows/esp32.yml
  CMake/Modules/FindESP32_IDF.cmake
  CMake/Modules/FindmbedTLS.cmake
  CMake/binutils.ESP32.cmake
  CMake/binutils.common.cmake
  azure-pipelines-nightly.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  src/PAL/COM/sockets/ssl/mbedTLS/mbedtls.h
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_generic_init_internal.cpp
  targets/ESP32/CMakeLists.txt
  targets/ESP32/ESP32/mbedtls_config.h
  targets/ESP32/ESP32_S2/mbedtls_config.h
  targets/ESP32/_IDF/esp32/partitions_nanoclr_16mb.csv
  targets/ESP32/_IDF/esp32/partitions_nanoclr_2mb.csv
  targets/ESP32/_IDF/esp32/partitions_nanoclr_4mb.csv
  targets/ESP32/_IDF/esp32/partitions_nanoclr_8mb.csv
  targets/ESP32/_IDF/esp32s2/partitions_nanoclr_16mb.csv
  targets/ESP32/_IDF/esp32s2/partitions_nanoclr_4mb.csv
  targets/ESP32/_IDF/esp32s2/partitions_nanoclr_8mb.csv
  targets/ESP32/_IDF/mbedtls_implementations.c
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_Include/esp32_idf.h
  targets/ESP32/_common/WireProtocol_HAL_Interface.c
  targets/ESP32/_nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
  targets/ESP32/_nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_Windows_Devices_Gpio_GpioChangeCounter.cpp
  targets/ESP32/_nanoCLR/Windows.Devices.Pwm/win_dev_pwm_native_Windows_Devices_Pwm_PwmPin.cpp
  targets/ESP32/_nanoCLR/Windows.Devices.Spi/cpu_spi.cpp
Labels: Area: Config-and-Build, Type: dependencies, RTOS: ESP32

#2249 Add support for UART signal level inversion
  src/System.IO.Ports/sys_io_ser_native.cpp
  src/System.IO.Ports/sys_io_ser_native.h
  src/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort_stubs.cpp
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/FreeRTOS/NXP/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: enhancement, Type: dependencies, RTOS: ChibiOS, RTOS: ESP32, RTOS: FreeRTOS

#2252 Fixing path in dev container
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
Labels: Area: Dev-Containers

#2253 Using wrong length on serial write
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/FreeRTOS/NXP/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug, Platform: ESP32

#2254 Fix version tag for dev containers
  .github/workflows/devcontainer-all.yaml
  .github/workflows/devcontainer-azurertos.yaml
  .github/workflows/devcontainer-chibios.yaml
  .github/workflows/devcontainer-esp32.yml
  .github/workflows/devcontainer-ti.yaml
Labels: Area: Dev-Containers

#2255 Work CI-CD
  CMake/binutils.ChibiOS.cmake
  CMake/binutils.ESP32.cmake
  CMake/binutils.FreeRTOS.cmake
  CMake/binutils.TI_SimpleLink.cmake
  CMake/binutils.common.cmake
  targets/FreeRTOS/_common/CMakeLists.txt
Labels: Area: Config-and-Build

#2257 Update assemblies declaration
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/System.IO.Ports/sys_io_ser_native.cpp
Labels: Type: dependencies

#2258 Update declaration of sys.io.filesystem
  src/System.IO.FileSystem/nf_sys_io_filesystem.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem.h
Labels: Type: dependencies

#2259 Update TI SimpleLink SDK to 5.40.00.40
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.TI
  CMake/binutils.TI_SimpleLink.cmake
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  targets/TI_SimpleLink/CMakeLists.txt
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/cmake-variants.json
Labels: Area: Config-and-Build, Type: dependencies

#2260 Fixes in power down for TI SimpleLink CC13x2
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/nanoCLR/main.c
  targets/TI_SimpleLink/_nanoCLR/Windows.Devices.Gpio/cpu_gpio.cpp
  targets/TI_SimpleLink/_nanoCLR/Windows.Devices.Gpio/win_dev_gpio_native_target.h
  targets/TI_SimpleLink/_nanoCLR/nanoFramework.Hardware.TI/nf_hardware_ti_native_nanoFramework_Hardware_TI_Power.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL_Power.c
Labels: Type: bug, RTOS: TI-SimpleLink, Platform: TI-CC13x2_26x2

#2261 Add support for buffer size setting in SerialPort
  src/System.IO.Ports/sys_io_ser_native.cpp
  src/System.IO.Ports/sys_io_ser_native.h
  targets/ChibiOS/ORGPAL_PALTHREE/target_system_io_ports_config.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/target_system_io_ports_config.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/target_system_io_ports_config.cpp
  targets/ChibiOS/ST_NUCLEO64_F091RC/target_system_io_ports_config.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/target_system_io_ports_config.cpp
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/target_system_io_ports_config.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_system_io_ports_config.cpp
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_system_io_ports_config.h
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/target_system_io_ports_config.h
  targets/FreeRTOS/NXP/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/target_system_io_ports_config.cpp
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/target_system_io_ports_config.h
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
Labels: Type: enhancement, Type: dependencies, RTOS: ChibiOS, RTOS: ESP32, RTOS: FreeRTOS, RTOS: TI-SimpleLink

#2262 Rework SpiBusInfo
  src/PAL/Include/CPU_SPI_decl.h
  src/System.Device.Spi/sys_dev_spi_native.cpp
  src/System.Device.Spi/sys_dev_spi_native.h
  src/System.Device.Spi/sys_dev_spi_native_System_Device_Spi_SpiBusInfo.cpp
  src/Windows.Devices.Spi/win_dev_spi_native_Windows_Devices_Spi_SpiBusInfo.cpp
  targets/ChibiOS/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/ChibiOS/_nanoCLR/Windows.Devices.Spi/cpu_spi.cpp
  targets/ESP32/_nanoCLR/Windows.Devices.Spi/cpu_spi.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/TI_SimpleLink/_nanoCLR/Windows.Devices.Spi/cpu_spi.cpp
Labels: Type: bug, Area: Common libs, Type: dependencies

#2263 Rework 1-Wire code to allow reconfiguring GPIOs
  targets/ESP32/ESP32/target_nf_devices_onewire_config.h
  targets/ESP32/_nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native_nanoFramework_Devices_OneWire_OneWireController.cpp
Labels: Type: enhancement, RTOS: ESP32

#2265 Rework 1-Wire implementation
  .vscode/cmake-variants-DEVCONTAINER.json
  .vscode/cmake-variants.TEMPLATE.json
  CMake/Modules/FindNF_NativeAssemblies.cmake
  CMake/Modules/FindnanoFramework.Device.OneWire.cmake
  CMake/Modules/FindnanoFramework.Devices.OneWire.cmake
  CMakeLists.txt
  CMakeSettings.SAMPLE.json
  CMakeSettings.json
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  build.ps1
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Include/nanoCLR_Runtime.h
  src/nanoFramework.Device.OneWire/nf_dev_onewire.cpp
  src/nanoFramework.Device.OneWire/nf_dev_onewire.h
  src/nanoFramework.Devices.OneWire/nf_devices_onewire_native.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/cmake-variants.json
  targets/ChibiOS/ORGPAL_PALTHREE/target_nf_dev_onewire_config.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/target_nf_dev_onewire_config.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/cmake-variants.json
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_dev_onewire_config.cpp
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/target_nf_dev_onewire_config.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/cmake-variants.json
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_nf_dev_onewire_config.cpp
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_nf_dev_onewire_config.h
  targets/ChibiOS/_nanoCLR/CLR_Startup_Thread.c
  targets/ChibiOS/_nanoCLR/nanoFramework.Device.OneWire/nf_dev_onewire_nanoFramework_Device_OneWire_OneWireHost.cpp
  targets/ChibiOS/_nanoCLR/nanoFramework.Device.OneWire/nf_dev_onewire_target.h
  targets/ChibiOS/_nanoCLR/nanoFramework.Devices.OneWire/nf_devices_onewire_native_target.h
  targets/ChibiOS/_nf-overlay/os/hal/ports/STM32/LLD/ONEWIREv1/onewire_lld.c
  targets/ESP32/ESP32/cmake-variants.json
  targets/ESP32/ESP32/target_nf_dev_onewire_config.cpp
  targets/ESP32/ESP32/target_nf_dev_onewire_config.h
  targets/ESP32/ESP32_S2/cmake-variants.json
  targets/ESP32/ESP32_S2/target_nf_dev_onewire_config.cpp
  targets/ESP32/ESP32_S2/target_nf_dev_onewire_config.h
  targets/ESP32/_nanoCLR/nanoFramework.Device.OneWire/nf_dev_onewire_nanoFramework_Device_OneWire_OneWireHost.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Device.OneWire/nf_dev_onewire_target.h
Labels: Type: enhancement, Area: Config-and-Build, Type: dependencies

#2266 Fix includes for mbedTLS build
  CMake/binutils.common.cmake
Labels: Area: Config-and-Build
