Repository nanoframework/nf-interpreter, pull requests merged in 2022-11, with the labels that each got.

#2456 Increase reserved memory for IDF
  CMakePresets.json
  targets/ESP32/_nanoCLR/Memory.cpp
Labels: Type: bug, Platform: ESP32

#2457 Fix I2S device mapping for ESP32-S2
  targets/ESP32/_common/ESP32_S2_DeviceMapping.cpp
Labels: Type: bug, Series: ESP32S2

#2458 Fix code in I2S to deal with number of available I2S devices available
  targets/ESP32/_nanoCLR/System.Device.I2s/sys_dev_i2s_native_System_Device_I2s_I2sDevice.cpp
Labels: Type: bug, Platform: ESP32

#2459 Fix I2S build options
  CMakePresets.json
Labels: Area: Config-and-Build

#2462 Add VS Code task to decode ESP32 backtrace
  .vscode/tasks.TEMPLATE.json
Labels: Type: documentation

#2460 Add build option to reserve internal RAM for IDF allocation
  CMakePresets.json
  targets/ESP32/CMakeLists.txt
  targets/ESP32/_nanoCLR/Memory.cpp
  targets/ESP32/_nanoCLR/target_platform.h.in
Labels: Area: Config-and-Build, Platform: ESP32

#2463 Improvement in Wire Protocol
  src/CLR/WireProtocol/WireProtocol_Message.c
Labels: Type: enhancement, Area: Common libs

#2464 Migrate Espressif IDF to v4.4.3
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
Labels: Area: Config-and-Build, Area: Dev-Containers

#2465 Fix include in ESP32_S2
  targets/ESP32/ESP32_S2/target_common.c
Labels: Type: bug, Series: ESP32S2

#2466 Remove duplicated processing of target_platform.h template
  targets/AzureRTOS/Maxim/_nanoCLR/CMakeLists.txt
  targets/AzureRTOS/MicroBit/_nanoCLR/CMakeLists.txt
  targets/AzureRTOS/Nordic/_nanoCLR/CMakeLists.txt
  targets/AzureRTOS/RaspberryPi/_nanoCLR/CMakeLists.txt
  targets/AzureRTOS/ST/_nanoCLR/CMakeLists.txt
  targets/ESP32/_nanoCLR/CMakeLists.txt
Labels: Area: Config-and-Build

#2468 Add handling for non existing ESP32_SPIRAM_FOR_IDF_ALLOCATION build option
  targets/ESP32/CMakeLists.txt
Labels: Area: Config-and-Build

#2467 Fix setting reserving RAM for IDF allocation
  targets/ESP32/CMakeLists.txt
Labels: Area: Config-and-Build

#2470 Improve ESP32 Wifi scan
  src/PAL/Include/nanoPAL_Sockets.h
  targets/AzureRTOS/_common/target_network.cpp
  targets/ESP32/_Network/NF_ESP32_Wireless.cpp
  targets/ESP32/_common/Target_Network.cpp
  targets/ESP32/_include/NF_ESP32_Network.h
  targets/ESP32/_nanoCLR/System.Device.Wifi/sys_dev_wifi_native_System_Device_Wifi_WifiAdapter.cpp
Labels: Type: enhancement, Platform: ESP32

#2472 Add check for path limit in Windows
  CMake/binutils.common.cmake
  CMakeLists.txt
  azure-pipelines-templates/build-preparations.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
Labels: Area: Config-and-Build

#2473 Improvements in Mbed TLS for ESP32
  CMake/Modules/FindESP32_IDF.cmake
  src/PAL/COM/sockets/ssl/mbedTLS/ssl_generic_init_internal.cpp
  targets/ESP32/_IDF/sdkconfig.debug_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32c3
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_pico_ble_rev3
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32c3
  targets/ESP32/_include/esp32_idf.h
Labels: Type: enhancement, Area: Config-and-Build, Platform: ESP32

#2474 ESP32 Devcontainer fixes
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.ESP32
Labels: Area: Dev-Containers

#2475 Update CMake install in dev containers
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/Dockerfile.ESP32
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.TI
Labels: Area: Dev-Containers

#2476 Fix CMake install in dev containers
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/Dockerfile.ESP32
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.TI
Labels: Area: Dev-Containers

#2477 Fix AccessMemory for NoXIP and no memory mapped devices
  src/CLR/Debugger/Debugger.cpp
Labels: Type: bug, Area: Common libs
