Repository nanoframework/nf-interpreter, pull requests merged in 2023-02, with the labels that each got.

#2533 Fix typo in local var name for all platforms and series
  CMake/Modules/AzureRTOS_MAX78000_GCC_options.cmake
  CMake/Modules/AzureRTOS_MICROBIT_GCC_options.cmake
  CMake/Modules/AzureRTOS_RP2040_GCC_options.cmake
  CMake/Modules/AzureRTOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/AzureRTOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/ESP32_C3_GCC_options.cmake
  CMake/Modules/ESP32_GCC_options.cmake
  CMake/Modules/ESP32_S2_GCC_options.cmake
  CMake/Modules/FindNF_CoreCLR.cmake
  CMake/Modules/FindNF_Debugger.cmake
  CMake/Modules/FindNF_NativeAssemblies.cmake
  CMake/Modules/FindNF_Network.cmake
  CMake/Modules/FindWireProtocol.cmake
  CMake/Modules/FreeRTOS_IMXRT10xx_GCC_options.cmake
  CMake/Modules/STM32_CubePackage.cmake
  CMake/Modules/TI_SimpleLink_CC13X2_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC32xx_GCC_options.cmake
  CMake/binutils.common.cmake
Labels: Area: Config-and-Build

#2534 Remove GPIO uninit for TI CC13x2 boards
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
Labels: Type: bug, Platform: TI-SimpleLink

#2535 Fix CPU GPIO layer for TI SimpleLink
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/TI_CC1352R1_LAUNCHXL_868.syscfg
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/TI_CC1352R1_LAUNCHXL_915.syscfg
  targets/TI_SimpleLink/_nanoCLR/System.Device.Gpio/cpu_gpio.cpp
Labels: Type: bug, Platform: TI-SimpleLink

#2513 Fix LockEventMutex referencing a disposed pointer
  targets/ESP32/_nanoCLR/nanoFramework.Device.Bluetooth/esp32_nimble.cpp
Labels: Type: bug, Platform: ESP32

#2548 Various fixes with GPIO
  targets/TI_SimpleLink/_nanoCLR/System.Device.Gpio/cpu_gpio.cpp
Labels: Type: bug, Platform: TI-SimpleLink

#2512 Update Hardware.Esp32.Rmt implementation
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native_nanoFramework_Hardware_Esp32_Rmt_ReceiverChannel.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native_nanoFramework_Hardware_Esp32_Rmt_RmtChannel.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native_nanoFramework_Hardware_Esp32_Rmt_TransmitterChannel.cpp
Labels: Type: enhancement, Breaking-change, Platform: ESP32

#2554 Fix declaration of enum
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_HighResTimer.cpp
Labels: Type: enhancement, Platform: ESP32

#2567 Improvements in power mode API
  src/CLR/Startup/CLRStartup.cpp
  src/HAL/Include/nanoHAL.h
  src/HAL/Include/nanoHAL_v2.h
  targets/AzureRTOS/Maxim/_nanoCLR/targetHAL.cpp
  targets/AzureRTOS/Maxim/_nanoCLR/targetHAL_Power.c
  targets/AzureRTOS/ST/_nanoCLR/targetHAL.cpp
  targets/AzureRTOS/ST/_nanoCLR/targetHAL_Power.c
  targets/AzureRTOS/SiliconLabs/_nanoCLR/targetHAL.cpp
  targets/AzureRTOS/SiliconLabs/_nanoCLR/targetHAL_Power.c
  targets/ChibiOS/_nanoCLR/targetHAL.cpp
  targets/ChibiOS/_nanoCLR/targetHAL_Power.c
  targets/ESP32/_nanoCLR/targetHAL.cpp
  targets/ESP32/_nanoCLR/targetHAL_Power.c
  targets/FreeRTOS/NXP/_nanoCLR/targetHAL.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL_Power.c
  targets/netcore/nanoFramework.nanoCLR/CLRStartup.cpp
  targets/win32/nanoCLR/Various.cpp
Labels: Type: enhancement, Area: Common libs

#2536 Add touch pad support for ESP32 and ESP32-S2/3
  .gitignore
  CMake/Modules/FindESP32_IDF.cmake
  CMake/Modules/FindnanoFramework.Hardware.Esp32.cmake
  targets/ESP32/_include/esp32_idf.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_nanoFramework_Hardware_Esp32_Touch_TouchPad.cpp
Labels: Type: bug, Type: enhancement, Status: in progress, Platform: ESP32

#2569 Fix wrong comparisons
  src/CLR/Debugger/Debugger.cpp
  targets/ChibiOS/_nanoCLR/nanoFramework.Device.Can/nf_device_can_native_nanoFramework_Device_Can_CanController.cpp
Labels: Type: bug, Area: Common libs, Platform: STM32

#2568 Work CI-CD
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.TI
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
  install-scripts/install-arm-gcc-toolchain.ps1
Labels: Area: Config-and-Build, Area: Dev-Containers

#2570 CPU GPIO is not uninit anymore when powering down
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
Labels: Platform: TI-SimpleLink

#2571 Adjust SPIFFs object length in IDF sdkconfigs
  targets/ESP32/_IDF/sdkconfig.debug_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32c3
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_pico_ble_rev3
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32c3
Labels: Type: enhancement, Platform: ESP32

#2572 Migrate IDF to v4.4.4
  .devcontainer/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.ESP32
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-espressif-esp32-targets.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
Labels: Area: Config-and-Build, Type: dependencies, Area: Dev-Containers

#2573 Fix timebase for ChibiOS targets
  targets/AzureRTOS/ST/ORGPAL_PALTHREE/nanoBooter/chconf.h
  targets/AzureRTOS/ST/ORGPAL_PALTHREE/nanoCLR/chconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/chconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/chconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/chconf.h
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoCLR/chconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/chconf.h
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoCLR/chconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/chconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/chconf.h
  targets/ChibiOS/_include/targetHAL_Time.h
Labels: Type: bug, Platform: STM32

#2574 Adjusting native definition of System.Device.Wifi
  src/System.Device.Wifi/sys_dev_wifi_native.cpp
Labels: Type: dependencies

#2575 Migrate Gecko SDK to 4.2.1
  targets/AzureRTOS/SiliconLabs/CMakeLists.txt
  targets/AzureRTOS/SiliconLabs/_common/autogen/sl_iostream_init_usart_instances.c
  targets/AzureRTOS/SiliconLabs/_common/autogen/sl_iostream_init_usart_instances.h
Labels: Type: dependencies, Series: SL-EFM32GG11

#2576 Fix build options for SL_STK3701A
  targets/AzureRTOS/SiliconLabs/SL_STK3701A/CMakePresets.json
  targets/AzureRTOS/SiliconLabs/SL_STK3701A/nanoCLR/efm32gg11b_CLR-DEBUG.ld
  targets/AzureRTOS/SiliconLabs/SL_STK3701A/nanoCLR/efm32gg11b_CLR.ld
Labels: Area: Config-and-Build, Series: SL-EFM32GG11

#2577 Add missing defines for ReceiverThread
  targets/AzureRTOS/SiliconLabs/_common/WireProtocol_ReceiverThread_Platform.c
Labels: Type: bug, Series: SL-EFM32GG11

#2578 Fix SPIFFs configuration
  targets/ESP32/_IDF/sdkconfig.debug_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32c3
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_pico_ble_rev3
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32c3
Labels: Type: bug, Platform: ESP32

#2579 Improve SDKCONFIG to allow build on BLE REV0
  azure-pipelines.yml
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
Labels: Area: Config-and-Build

#2580 Work CI-CD
  azure-pipelines-templates/publish-cloudsmith.yml
  azure-pipelines-templates/publish-nanoclr.yml
Labels: Area: Config-and-Build

#2581 Work CI-CD
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-azurertos-targets.yml
  azure-pipelines-templates/build-chibios-stm32-targets.yml
  azure-pipelines-templates/build-espressif-esp32-targets.yml
  azure-pipelines-templates/build-freertos-nxp-targets.yml
  azure-pipelines.yml
Labels: Area: Config-and-Build

#2582 Rework ChibiOS HAL_Time_SysTicksToTime
  targets/ChibiOS/_include/targetHAL_Time.h
Labels: Type: enhancement, Platform: STM32

#2585 Fix SDK configs
  targets/ESP32/CMakePresets.json
  targets/ESP32/_IDF/sdkconfig.debug_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32
  targets/ESP32/_IDF/sdkconfig.default.esp32c3
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_pico_ble_rev3
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32c3
Labels: Area: Config-and-Build, Platform: ESP32
