Repository nanoframework/nf-interpreter, pull requests merged in 2023-09, with the labels that each got.

#2745 Update hex2dfu version to latest
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
Labels: Area: Config-and-Build, Area: Dev-Containers

#2711 Adding UART wakeup
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
Labels: Type: enhancement, Platform: ESP32

#2747 Update Github workflow action versions
  .github/workflows/devcontainer-all.yaml
  .github/workflows/devcontainer-azurertos.yaml
  .github/workflows/devcontainer-chibios.yaml
  .github/workflows/devcontainer-esp32.yml
  .github/workflows/devcontainer-ti.yaml
Labels: Area: Config-and-Build, Area: Dev-Containers

#2749 Update Github Action versions
  .github/workflows/devcontainer-all.yaml
  .github/workflows/devcontainer-azurertos.yaml
  .github/workflows/devcontainer-chibios.yaml
  .github/workflows/devcontainer-esp32.yml
  .github/workflows/devcontainer-ti.yaml
Labels: Area: Dev-Containers

#2750 Fix declaration for nanoFramework.Hardware.ESP32
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.cpp
Labels: Area: Config-and-Build

#2751 Rework Profiler output message for object creation
  src/CLR/Diagnostics/Profiler.cpp
Labels: Type: bug, Type: enhancement

#2752 Fix devcontainer TI tools URL
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.TI
Labels: Area: Dev-Containers

#2748 Rework github actions so devcontainer images aren't published on forks
  .devcontainer/README.md
  .github/workflows/devcontainer-all.yaml
  .github/workflows/devcontainer-azurertos.yaml
  .github/workflows/devcontainer-chibios.yaml
  .github/workflows/devcontainer-esp32.yml
  .github/workflows/devcontainer-ti.yaml
Labels: Area: Config-and-Build, Area: Dev-Containers

#2754 Add debug output for Profiler::TrackObjectDeletion
  src/CLR/Diagnostics/Profiler.cpp
Labels: Type: enhancement, Area: Common libs

#2756 Improvements in RecoverFromGC
  src/CLR/Core/CLR_RT_HeapCluster.cpp
Labels: Type: bug, Type: enhancement, Area: Common libs

#2757 Fixes in Heap_Compact
  src/CLR/Core/GarbageCollector_Compaction.cpp
  src/CLR/Include/nanoCLR_Runtime.h
Labels: Type: bug, Area: Common libs

#2760 Rework launch booter API to include error code
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Startup/CLRStartup.cpp
  src/HAL/Include/nanoHAL_Boot.h
  src/HAL/nanoHAL_Boot.c
  targets/win32/Include/targetHAL.h
Labels: Type: enhancement, Area: Common libs, Breaking-change

#2761 Booter state is now updated on launch CLR
  targets/AzureRTOS/ST/_common/LaunchCLR.c
  targets/AzureRTOS/SiliconLabs/_common/LaunchCLR.c
  targets/ChibiOS/_common/LaunchCLR.c
Labels: Type: bug, Area: Common libs

#2758 Improve devcontainer.json
  .devcontainer/devcontainer.json
Labels: Area: Dev-Containers

#2763 Add build options to control Profiler code
  CMake/AzureRTOS_target_os.h.in
  CMake/ChibiOS_target_os.h.in
  CMake/ESP32_target_os.h.in
  CMake/FreeRTOS_target_os.h.in
  CMake/Modules/ClrProfilerOptions.cmake
  CMake/TI_SimpleLink_target_os.h.in
  CMakeLists.txt
Labels: Area: Config-and-Build

#2720 Updates GCC to 12.3.rel1
  .devcontainer/Dockerfile.All
  .devcontainer/Dockerfile.AzureRTOS
  .devcontainer/Dockerfile.ChibiOS
  .devcontainer/Dockerfile.TI
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.TI
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
  install-scripts/install-arm-gcc-toolchain.ps1
  src/nanoFramework.Graphics/Graphics/Core/Support/Jpeg/Jpeg.cpp
Labels: Area: Config-and-Build, Area: Dev-Containers

#2765 Fix compiler def check
  src/CLR/Core/Execution.cpp
  src/CLR/Core/GarbageCollector_Info.cpp
  src/CLR/Diagnostics/Profiler.cpp
Labels: Area: Config-and-Build

#2769 Fix assignment of GPIO callback
  targets/AzureRTOS/SiliconLabs/_nanoCLR/System.Device.Gpio/cpu_gpio.cpp
Labels: Type: bug, Area: Common libs, Series: SL-EFM32GG11

#2772 Fix compiler optimization for RelWithDebInfo
  CMake/binutils.AzureRTOS.cmake
Labels: Area: Config-and-Build, Platform: Azure-RTOS

#2764 Fix the Https/TLS memory leak
  src/PAL/COM/sockets/ssl/MbedTLS/ssl_generic_init_internal.cpp
Labels: Type: bug, Area: Common libs

#2746 Fix linker rules for code
  targets/AzureRTOS/ST/_common/rules_code.ld
  targets/ChibiOS/_common/rules_code.ld
Labels: Area: Config-and-Build, Platform: STM32, Platform: Azure-RTOS

#2773 Fix order of operations when performing recover from GC
  src/CLR/Core/CLR_RT_HeapCluster.cpp
Labels: Type: bug, Area: Common libs

#2774 Fix Heap Relocate Add block
  src/CLR/Core/GarbageCollector_Compaction.cpp
Labels: Type: bug

#2775 Add assert to Heap_Relocate
  src/CLR/Core/GarbageCollector_Compaction.cpp
Labels: Type: enhancement, Area: Common libs

#2776 Update cmake installed in dev containers to 3.27.6
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  .devcontainer/sources/Dockerfile.ChibiOS
  .devcontainer/sources/Dockerfile.ESP32
  .devcontainer/sources/Dockerfile.TI
Labels: Area: Dev-Containers

#2759 Fix possible build issue with devcontainer for chibios
  .devcontainer/sources/Dockerfile.ChibiOS
Labels: Area: Dev-Containers

#2721 Update .gitmodules to suppress dirty
  .gitmodules
Labels: Area: Config-and-Build

#2779 Fix profiler output for EventCache Append_Node
  src/CLR/Core/Cache.cpp
Labels: Type: bug, Area: Common libs

#2692 Removed workaround for I2S in ESP32 S3
  targets/ESP32/_nanoCLR/System.Device.I2s/sys_dev_i2s_native_System_Device_I2s_I2sDevice.cpp
Labels: Area: Config-and-Build, Platform: ESP32

#2691 Enable I2S for C3 builds
  CMake/xtensa-esp32c3.json
  targets/ESP32/_nanoCLR/System.Device.I2s/sys_dev_i2s_native_System_Device_I2s_I2sDevice.cpp
Labels: Area: Config-and-Build, Platform: ESP32, Series: ESP32C3

#2780 Fix GPIO debounce
  targets/AzureRTOS/SiliconLabs/_nanoCLR/System.Device.Gpio/cpu_gpio.cpp
Labels: Type: bug, Platform: Azure-RTOS, Series: SL-EFM32GG11

#2781 Fix GPIO debounce for STM32
  targets/AzureRTOS/ST/_nanoCLR/System.Device.Gpio/cpu_gpio.cpp
Labels: Type: bug
