Repository nanoframework/nf-interpreter, pull requests merged in 2024-03, with the labels that each got.

#2891 Fix spellling errors
  src/HAL/Include/nanoHAL_Boot.h
  src/HAL/nanoHAL_Boot.c
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_File.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
  targets/AzureRTOS/Maxim/MAX78000_FTHR/nanoBooter/main.c
  targets/AzureRTOS/Maxim/_common/targetHAL_ConfigurationManager.cpp
  targets/AzureRTOS/ST/ORGPAL_PALTHREE/nanoBooter/main.c
  targets/AzureRTOS/ST/ST_B_L475E_IOT01A/nanoBooter/main.c
  targets/AzureRTOS/ST/_common/LaunchCLR.c
  targets/AzureRTOS/ST/_common/targetHAL_ConfigurationManager.cpp
  targets/AzureRTOS/SiliconLabs/SL_STK3701A/nanoBooter/main.c
  targets/AzureRTOS/SiliconLabs/_common/LaunchCLR.c
  targets/AzureRTOS/SiliconLabs/_common/targetHAL_ConfigurationManager.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/nanoBooter/main.c
  targets/ChibiOS/ST_NUCLEO64_F091RC/nanoBooter/main.c
  targets/ChibiOS/ST_STM32F429I_DISCOVERY/nanoBooter/main.c
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoBooter/main.c
  targets/ChibiOS/_FatFS/fatfs_diskio.c
  targets/ChibiOS/_FatFS/fatfs_syscall.c
  targets/ChibiOS/_common/LaunchCLR.c
  targets/ChibiOS/_common/targetHAL_ConfigurationManager.cpp
  targets/ChibiOS/_nanoCLR/System.Device.I2c/sys_dev_i2c_native_System_Device_I2c_I2cDevice.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_File.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/nanoBooter/main.c
  targets/FreeRTOS/NXP/_fatfs/diskio.c
  targets/FreeRTOS/NXP/_fatfs/ffsystem.c
  targets/FreeRTOS/NXP/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.I2c/sys_dev_i2c_native_System_Device_I2c_I2cDevice.cpp
Labels: Type: documentation

#2892 Update URL for AzureRTOS
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS.SRC
  targets/AzureRTOS/CMakeLists.txt
Labels: Area: Config-and-Build, Area: Dev-Containers

#2893 Fix spellling errors
  targets/AzureRTOS/ST/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/AzureRTOS/ST/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/AzureRTOS/SiliconLabs/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/AzureRTOS/SiliconLabs/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/ChibiOS/_nanoCLR/System.Device.Dac/sys_dev_dac_native_System_Device_Dac_DacController.cpp
  targets/ChibiOS/_nanoCLR/System.Device.Dac/sys_dev_dac_native_target.h
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/ChibiOS/_nanoCLR/nanoFramework.Device.Can/nf_device_can_native_nanoFramework_Device_Can_CanController.cpp
  targets/ChibiOS/_nanoCLR/nanoFramework.Device.Can/nf_device_can_native_target.h
  targets/FreeRTOS/NXP/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.I2c/sys_dev_i2c_native_System_Device_I2c_I2cDevice.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.I2c/sys_dev_i2c_native_target.h
  targets/TI_SimpleLink/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/TI_SimpleLink/_nanoCLR/System.Device.Spi/sys_dev_spi_native_target.h
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
Labels: Type: documentation

#2895 Update IDF to v4.4.7
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/ESP32/Dockerfile.ESP32
  .devcontainer/ESP32/Dockerfile.ESP32.SRC
  azure-pipelines-nightly.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
  targets/ESP32/_nanoCLR/System.Device.Adc/sys_dev_adc_native_System_Device_Adc_AdcController.cpp
  targets/ESP32/_nanoCLR/System.Device.I2s/sys_dev_i2s_native_System_Device_I2s_I2sDevice.cpp
Labels: Type: dependencies, Area: Dev-Containers

#2896 NF Assemblies library now accept parameter to add extra source files
  CMake/Modules/FindNF_NativeAssemblies.cmake
Labels: Area: Config-and-Build

#2897 Improvements in SPIFFs and FATFS
  CMake/Modules/FindSPIFFS.cmake
  CMake/binutils.ChibiOS.cmake
  targets/AzureRTOS/ST/ORGPAL_PALTHREE/nanoCLR/main.c
  targets/ChibiOS/CMakeLists.txt
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/ChibiOS/_spiffs/CMakeLists.txt
  targets/ChibiOS/_spiffs/hal_spiffs.c
  targets/ChibiOS/_spiffs/hal_spiffs.h
Labels: Type: enhancement, Area: Config-and-Build, Area: Common libs

#2894 Align FatFS code page with ESP32
  targets/AzureRTOS/ST/ORGPAL_PALTHREE/ffconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/ffconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/ffconf.h
  targets/FreeRTOS/NXP/_fatfs/ffconf.h
Labels: Area: Config-and-Build

#2899 Align FATFS config for UTF-8
  CMake/binutils.ChibiOS.cmake
  src/HAL/Include/nanoHAL_Windows_Storage.h
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_File.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/ffconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/ffconf.h
  targets/ChibiOS/_include/Target_Windows_Storage.h
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_File.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
  targets/ESP32/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS/NXP/_fatfs/ffconf.h
  targets/FreeRTOS/NXP/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
Labels: Type: enhancement, Area: Config-and-Build, Area: Common libs, Breaking-change, Platform: STM32, Platform: ESP32, Platform: NXP

#2900 Spelling fixes in ffconf
  targets/ESP32/ESP32/ffconf.h
  targets/ESP32/ESP32_C3/ffconf.h
  targets/ESP32/ESP32_S2/ffconf.h
  targets/ESP32/ESP32_S3/ffconf.h
  targets/FreeRTOS/NXP/_fatfs/ffconf.h
Labels: Type: documentation

#2901 Add Support for Storage Operations
  CMake/AzureRTOS_target_os.h.in
  CMake/ChibiOS_target_os.h.in
  CMake/ESP32_target_os.h.in
  CMake/FreeRTOS_target_os.h.in
  CMake/TI_SimpleLink_target_os.h.in
  CMake/binutils.ChibiOS.cmake
  CMake/xtensa-esp32.json
  CMake/xtensa-esp32c3.json
  CMake/xtensa-esp32s2.json
  CMake/xtensa-esp32s3.json
  CMakeLists.txt
  src/CLR/Debugger/Debugger.cpp
  src/CLR/Debugger/Debugger.h
  src/CLR/Debugger/Debugger_full.cpp
  src/CLR/Debugger/Debugger_minimal.cpp
  src/CLR/Include/WireProtocol.h
  src/CLR/Include/WireProtocol_MonitorCommands.h
  src/CLR/Include/nanoCLR_Debugging.h
  src/HAL/Include/nanoHAL_StorageOperation.h
  targets/AzureRTOS/Maxim/MAX78000_FTHR/nanoCLR/main.c
  targets/AzureRTOS/Maxim/_common/CMakeLists.txt
  targets/AzureRTOS/Maxim/_nanoCLR/targetHAL.cpp
  targets/AzureRTOS/ST/ST_B_L475E_IOT01A/nanoCLR/main.c
  targets/AzureRTOS/ST/_common/CMakeLists.txt
  targets/AzureRTOS/ST/_common/drivers/wifi/inventek/ISM43362_sockets.h
  targets/AzureRTOS/ST/_nanoCLR/targetHAL.cpp
  targets/AzureRTOS/SiliconLabs/_common/CMakeLists.txt
  targets/AzureRTOS/SiliconLabs/_nanoCLR/targetHAL.cpp
  targets/ChibiOS/ORGPAL_PALTHREE/CMakePresets.json
  targets/ChibiOS/_common/CMakeLists.txt
  targets/ChibiOS/_common/targetHAL_StorageOperation.cpp
  targets/ChibiOS/_include/targetHAL_StorageOperation.h
  targets/ChibiOS/_nanoCLR/targetHAL.cpp
  targets/ESP32/_common/CMakeLists.txt
  targets/ESP32/_common/targetHAL_ConfigStorageSPIFFS.c
  targets/ESP32/_common/targetHAL_FileOperation.cpp
  targets/ESP32/_common/targetHAL_StorageOperation.cpp
  targets/ESP32/_include/targetHAL_ConfigStorage.h
  targets/ESP32/_include/targetHAL_FileOperation.h
  targets/ESP32/_include/targetHAL_StorageOperation.h
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_File.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_FileStream.cpp
  targets/ESP32/_nanoCLR/targetHAL.cpp
  targets/FreeRTOS/NXP/NXP_MIMXRT1060_EVK/nanoBooter/main.c
  targets/FreeRTOS/NXP/_common/CMakeLists.txt
  targets/FreeRTOS/NXP/_nanoCLR/targetHAL.cpp
  targets/TI_SimpleLink/_nanoCLR/targetHAL.cpp
Labels: Type: enhancement, Area: Config-and-Build

#2903 Add missing compiler defines for ESP32 builds
  CMake/Modules/ESP32_C3_GCC_options.cmake
  CMake/Modules/ESP32_GCC_options.cmake
  CMake/Modules/ESP32_S2_GCC_options.cmake
  CMake/Modules/ESP32_S3_GCC_options.cmake
Labels: Area: Config-and-Build, Platform: ESP32

#2904 UARTs are now properly initialized
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/ESP32/_nanoCLR/targetHAL.cpp
  targets/ESP32/_nanoCLR/target_platform.h.in
Labels: Type: enhancement, Platform: ESP32

#2905 Rework implementation of HAL_RingBuffer
  src/HAL/Include/nanoHAL.h
Labels: Type: bug, Area: Interpreter, Area: Common libs

#2906 Improvements in Syst.IO.Port implementations
  src/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort__.cpp
  targets/AzureRTOS/ST/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/AzureRTOS/SiliconLabs/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ChibiOS/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_target.h
  targets/FreeRTOS/NXP/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/TI_SimpleLink/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug, Type: enhancement, Area: Targets, Area: Common libs, Platform: STM32, Platform: ESP32, Platform: NXP, Platform: TI-SimpleLink, Platform: Azure-RTOS

#2907 Fix buffer size when creating an UART driver
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug, Platform: ESP32

#2908 Fixing wrong timing for GPIO Pulse on ESP32
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_System_Device_Gpio_GpioPulseCounter.cpp
Labels: Type: bug, Platform: ESP32

#2909 Adjust FATFS configs to use OEM encoding
  targets/ChibiOS/ORGPAL_PALTHREE/ffconf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/ffconf.h
  targets/ChibiOS/_include/Target_Windows_Storage.h
  targets/ESP32/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageFolder.cpp
  targets/FreeRTOS/NXP/_fatfs/ffconf.h
Labels: Type: bug, Platform: STM32, Platform: NXP
