Repository nanoframework/nf-interpreter, pull requests merged in 2024-08, with the labels that each got.

#2995 Various fixes/improvements in I2C slave
  targets/ESP32/_nanoCLR/System.Device.I2c.Slave/sys_dev_i2c_slave_native_System_Device_I2c_I2cSlaveDevice.cpp
Labels: Type: bug, Type: enhancement, Platform: ESP32

#2996 Fix getting file size for NativeFileInfo
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_NativeFindFile.cpp
  targets/ChibiOS/_FatFs/fatfs_FS_Driver.cpp
  targets/ChibiOS/_littlefs/littlefs_FS_Driver.cpp
  targets/ESP32/_FatFs/fatfs_FS_Driver.cpp
  targets/ESP32/_IDF/esp32/app_main.c
  targets/ESP32/_littlefs/littlefs_FS_Driver.cpp
  targets/netcore/littlefs/littlefs_FS_Driver.cpp
Labels: Type: bug, Platform: Virtual Device & WIN32, Area: Common libs, Platform: STM32, Platform: ESP32

#2997 Fix NativeGetFiles to hidde sys and hidden files
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
Labels: Type: enhancement, Area: Common libs

#2998 Update README documentation
  README.md
Labels: Type: documentation

#3000 Fix Mbed TLS clone step
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/All/scripts/git-pull-repos.sh
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS.SRC
  .devcontainer/ChibiOS/Dockerfile.ChibiOS.SRC
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP.SRC
Labels: Area: Dev-Containers

#2999 Fix ESP IDF path to fix Dev Container
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/ESP32/Dockerfile.ESP32.SRC
Labels: Area: Dev-Containers

#3001 Various fixes in Sys.IO.FileSystem
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_NativeFindFile.cpp
  targets/ESP32/_FatFs/fatfs_FS_Driver.cpp
  targets/ESP32/_IDF/esp32/app_main.c
  targets/ESP32/_littlefs/littlefs_FS_Driver.cpp
Labels: Type: bug, Type: enhancement, Area: Common libs, Platform: ESP32

#3002 Update managed memory available for ESP32_C6 & H2
  targets/ESP32/_nanoCLR/Memory.cpp
Labels: Type: bug

#3003 Crashes when doing GetFiles() with directories
  src/System.IO.FileSystem/nf_sys_io_filesystem_System_IO_Directory.cpp
Labels: Type: bug

#3004 Fix PWM throws Exception on Start
  targets/ESP32/_nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
Labels: Type: bug

#2993 Fix SerialPort SignalLevelsInverted not being honored
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug, Platform: ESP32

#3005 Update GCC version
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS.SRC
  .devcontainer/ChibiOS/Dockerfile.ChibiOS
  .devcontainer/ChibiOS/Dockerfile.ChibiOS.SRC
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP.SRC
  .devcontainer/TI/Dockerfile.TI
  .devcontainer/TI/Dockerfile.TI.SRC
  azure-pipelines-templates/download-install-arm-gcc-toolchain.yml
  install-scripts/install-arm-gcc-toolchain.ps1
Labels: Area: Config-and-Build, Area: Dev-Containers

#3006 Update HHD Virtual Serial Port tools to v6.03.00.1321
  targets/netcore/nanoFramework.nanoCLR.CLI/Vendor/hhdvspkit.interop.dll
Labels: Platform: Virtual Device & WIN32, Type: dependencies

#3007 Fix GPIO assigments
  targets/ChibiOS/ORGPAL_PALX/board.h
  targets/ChibiOS/ORGPAL_PALX/managed_helpers/ORGPAL_PALX.Adc.cs
  targets/ChibiOS/ORGPAL_PALX/target_system_device_adc_config.cpp
Labels: Area: Config-and-Build, Platform: STM32

#3009 Bump Gecko SDK to v4.4.4
  targets/AzureRTOS/SiliconLabs/CMakeLists.txt
Labels: Type: dependencies, Series: SL-EFM32GG11

#3010 Fix SPI CS handling
  src/System.Device.Spi/nanoHAL_Spi.cpp
  targets/ChibiOS/_nanoCLR/System.Device.Spi/cpu_spi.cpp
Labels: Type: bug, Area: Common libs

#3011 Add private implementation of vsnprintf
  src/CLR/Diagnostics/Diagnostics.vcxproj
  src/CLR/Diagnostics/Info_Safeprintf.cpp
  src/CLR/Helpers/nanoprintf/nanoprintf.c
  src/CLR/Helpers/nanoprintf/nanoprintf.h
  targets/AzureRTOS/_common/nanoCLR/nanoCRT.cpp
  targets/ChibiOS/_nanoCLR/nanoCRT.cpp
  targets/ESP32/_Network/NF_ESP32_OpenThread.cpp
  targets/ESP32/_nanoCLR/nanoCRT.cpp
  targets/FreeRTOS/_common/nanoCLR/nanoCRT.cpp
  targets/TI_SimpleLink/_nanoCLR/nanoCRT.cpp
Labels: Type: enhancement, Area: Common libs
