Repository nanoframework/nf-interpreter, pull requests merged in 2024-11, with the labels that each got.

#3034 Fix install of IDF components
  CMake/binutils.ESP32.cmake
Labels: Area: Config-and-Build, Platform: ESP32

#3033 Wifi stay disconnected after manual disconnect
  targets/ESP32/_Network/NF_ESP32_Wireless.cpp
Labels: Type: bug, Platform: ESP32

#3030 Adding support for OEM SKU and Serial Numbers
  src/HAL/Include/nanoHAL_ConfigurationManager.h
  src/HAL/nanoHAL_ConfigurationManager.c
  src/HAL/nanoHAL_ConfigurationManager_stubs.c
  src/HAL/nanoHAL_SystemInformation.cpp
  targets/AzureRTOS/Maxim/_common/targetHAL_ConfigurationManager.cpp
  targets/AzureRTOS/ST/_common/targetHAL_ConfigurationManager.cpp
  targets/AzureRTOS/SiliconLabs/_common/targetHAL_ConfigurationManager.cpp
  targets/ChibiOS/_common/targetHAL_ConfigurationManager.cpp
  targets/ESP32/_common/targetHAL_ConfigurationManager.cpp
  targets/FreeRTOS/NXP/_common/targetHAL_ConfigurationManager.cpp
  targets/TI_SimpleLink/_common/targetHAL_ConfigurationManager_CC13xx_26xx.cpp
  targets/TI_SimpleLink/_common/targetHAL_ConfigurationManager_CC32xx.cpp
Labels: Type: enhancement, Area: Config-and-Build, Breaking-change

#3035 Fix UART config at OneWire init
  targets/ESP32/_nanoCLR/nanoFramework.Device.OneWire/nf_dev_onewire_nanoFramework_Device_OneWire_OneWireHost.cpp
Labels: Type: enhancement, Platform: ESP32

#3036 Migrate IDF to v5.2.3
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/ESP32/Dockerfile.ESP32
  .devcontainer/ESP32/Dockerfile.ESP32.SRC
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-espressif-esp32-targets.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
  version.json
Labels: Area: Config-and-Build, Type: dependencies, Platform: ESP32, Area: Dev-Containers

#3037 Adjust memory for ESP32_C6
  targets/ESP32/_nanoCLR/Memory.cpp
Labels: Type: bug

#3038 Extract check for assembly marker
  src/CLR/Core/TypeSystem.cpp
  src/CLR/Include/nanoCLR_Types.h
Labels: Type: enhancement

#3039 Added onewire to S3_BLE and S3_ALL firmwares
  targets/ESP32/CMakePresets.json
Labels: Type: enhancement

#3041 Fix for serial port open for COM2 on single core devices (ESP32_C3)
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
Labels: Type: bug

#3043 Add new API DebugSessionIsActive()
  src/HAL/Include/nanoHAL_v2.h
  src/HAL/nanoHAL_SystemInformation.cpp
Labels: Type: enhancement, Area: Common libs

#3045 Improve hard fault handler for STM32F4XX and STM32F7XX
  targets/ChibiOS/_common/hard_fault_handler.c
Labels: Type: enhancement, Series: STM32xx, Platform: STM32

#3044 Rework MPU config for unaligned access to external memory
  targets/ChibiOS/ORGPAL_PALTHREE/CMakeLists.txt
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/main.c
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/mcuconf.h
  targets/ChibiOS/ORGPAL_PALTHREE/stm32f7xx_hal_conf.h
  targets/ChibiOS/ORGPAL_PALTHREE/target_external_memory.c
  targets/ChibiOS/ORGPAL_PALTHREE/target_mpu_config.c
  targets/ChibiOS/ORGPAL_PALX/CMakeLists.txt
  targets/ChibiOS/ORGPAL_PALX/nanoCLR/main.c
  targets/ChibiOS/ORGPAL_PALX/nanoCLR/mcuconf.h
  targets/ChibiOS/ORGPAL_PALX/stm32f7xx_hal_conf.h
  targets/ChibiOS/ORGPAL_PALX/target_external_memory.c
  targets/ChibiOS/ORGPAL_PALX/target_mpu_config.c
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/CMakePresets.json
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/stm32f7xx_hal_conf.h
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/target_external_memory.c
Labels: Type: enhancement, Area: Config-and-Build, Series: STM32xx, Breaking-change, Platform: STM32
