Repository nanoframework/nf-interpreter, pull requests merged in 2024-01, with the labels that each got.

#2857 Remove the VisualStudioDeployment folder
  VisualStudioDevelopment/CopyBuildOutput.cmd
  VisualStudioDevelopment/README.md
  VisualStudioDevelopment/VSDevDirectoryStructure.png
Labels: Type: documentation

#2858 Fix trap condition with system events
  targets/ChibiOS/_common/WireProtocol_ReceiverThread.c
  targets/ChibiOS/_nanoCLR/targetPAL_Events.cpp
  targets/ESP32/_nanoCLR/targetPAL_Events.cpp
  targets/FreeRTOS/_common/WireProtocol_ReceiverThread.c
  targets/FreeRTOS/_common/nanoCLR/targetPAL_Events.cpp
Labels: Type: bug, Area: Common libs, Platform: STM32, Platform: ESP32, Platform: NXP

#2853 More explicit error message with step to fix on ESP32 build with SDCard
  targets/ESP32/CMakeLists.txt
Labels: Type: documentation

#2860 Bump Azure RTOS to 6.4.0
  .devcontainer/sources/Dockerfile.All
  .devcontainer/sources/Dockerfile.AzureRTOS
  targets/AzureRTOS/CMakeLists.txt
Labels: Area: Config-and-Build, Type: dependencies, Area: Dev-Containers

#2859 Fix BlockStorage init and uninit
  src/PAL/BlockStorage/nanoPAL_BlockStorage.c
  targets/ESP32/ESP32/target_BlockStorage.c
  targets/ESP32/ESP32_C3/target_BlockStorage.c
  targets/ESP32/ESP32_S2/target_BlockStorage.c
  targets/ESP32/ESP32_S3/target_BlockStorage.c
  targets/ESP32/_nanoCLR/targetHAL.cpp
  targets/TI_SimpleLink/TI_CC1352R1_LAUNCHXL/target_BlockStorage.c
  targets/TI_SimpleLink/TI_CC3220SF_LAUNCHXL/target_BlockStorage.c
Labels: Type: bug, Type: enhancement, Area: Common libs, Platform: ESP32, Series: TI-CC32xx, Series: TI-CC13x2_26x2

#2861 Remove unused PWM source files
  targets/ESP32/ESP32/nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
  targets/ESP32/ESP32_C3/nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
  targets/ESP32/ESP32_S2/nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
  targets/ESP32/ESP32_S3/nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
Labels: Area: Config-and-Build, Platform: ESP32

#2866 Add support for hardware TRNG
  CMake/Modules/FindGecko_SDK.cmake
  targets/AzureRTOS/SiliconLabs/_nanoCLR/CMakeLists.txt
  targets/AzureRTOS/SiliconLabs/_nanoCLR/targetRandom.cpp
Labels: Type: enhancement, Area: Config-and-Build, Series: SL-EFM32GG11

#2867 Update github action versions
  .github/workflows/devcontainer-all.yaml
  .github/workflows/devcontainer-azurertos.yaml
  .github/workflows/devcontainer-chibios.yaml
  .github/workflows/devcontainer-esp32.yml
  .github/workflows/devcontainer-ti.yaml
Labels: Area: Config-and-Build, Area: Dev-Containers

#2863 Add support for IPV6 sockets
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_IPAddress.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_IPAddress_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_NetworkInterface_stubs.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_NetworkInformation_WirelessAPConfiguration.cpp
  src/DeviceInterfaces/System.Net/sys_net_native_System_Net_Sockets_NativeSocket.cpp
  src/PAL/COM/sockets/sockets_lwip.cpp
  src/PAL/Include/nanoPAL_Sockets.h
  src/PAL/Lwip/lwIP_Sockets.cpp
  src/PAL/Lwip/lwIP_Sockets.h
  src/PAL/Lwip/lwIP_Sockets_functions.cpp
  targets/AzureRTOS/_common/NetX/netx_sockets.cpp
  targets/AzureRTOS/_common/NetX/netx_sockets.h
  targets/AzureRTOS/_common/NetX/netx_sockets_functions.cpp
  targets/AzureRTOS/_common/NetX/sockets_netx.cpp
  targets/ESP32/CMakePresets.json
  targets/ESP32/_IDF/sdkconfig.default_rev3_ipv6.esp32
  targets/ESP32/_common/targetHAL_Network.cpp
  targets/TI_SimpleLink/_common/simplelink_sockets_functions.cpp
Labels: Type: enhancement, Area: Config-and-Build

#2855 Add FreeRTOS NXP container
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP.SRC
  .devcontainer/FreeRTOS-NXP/devcontainer.json
  .devcontainer/README.md
  .github/workflows/devcontainer-freertos-nxp.yaml
  .github/workflows/devcontainer-smoketest.yaml
Labels: Area: Dev-Containers

#2869 Remove meta labels from Dockerfile.FreeRTOS-NXP
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP
Labels: Area: Dev-Containers

#2870 Fix PWM for esp32
  targets/ESP32/_nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
Labels: Type: bug

#2871 CLR not starting on ESP32-C3 (XIAO_ESP32C3 firmware) when VS not connected
  targets/ESP32/_IDF/esp32c3/app_main.c
Labels: Type: bug

#2831 Update declaration for System.Net
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
Labels: Type: dependencies

#2864 Improve lwIP init
  src/PAL/Lwip/lwIP_Sockets.cpp
  targets/ChibiOS/_common/Target_Network.cpp
  targets/ChibiOS/_common/targetHAL_Network.cpp
  targets/ChibiOS/_lwIP/nf_lwipthread.c
  targets/ChibiOS/_lwIP/nf_lwipthread.h
  targets/FreeRTOS/NXP/_lwIP/nf_lwipthread.c
  targets/FreeRTOS/NXP/_lwIP/nf_lwipthread.h
  targets/FreeRTOS/NXP/_nanoCLR/targetHAL_Network.cpp
Labels: Type: enhancement, Platform: STM32, Platform: NXP

#2873 Add support for Win.Storage format volume
  CMake/Modules/FindWindows.Storage.cmake
  src/Windows.Storage/Windows.Storage.vcxproj
  src/Windows.Storage/Windows.Storage.vcxproj.filters
  src/Windows.Storage/win_storage_native.cpp
  src/Windows.Storage/win_storage_native.h
  src/Windows.Storage/win_storage_native_Windows_Storage_StorageProvider_stubs.cpp
  targets/ChibiOS/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageProvider.cpp
  targets/ChibiOS/_spiffs/hal_spiffs.c
  targets/ChibiOS/_spiffs/hal_spiffs.h
  targets/ESP32/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageProvider.cpp
  targets/FreeRTOS/NXP/_nanoCLR/Windows.Storage/win_storage_native_Windows_Storage_StorageProvider.cpp
Labels: Type: enhancement, Type: dependencies, Platform: STM32
