Repository nanoframework/nf-interpreter, pull requests merged in 2024-07, with the labels that each got.

#2977 Add missing SLL DTLS protocol for mbedtls on esp32-c6
  targets/ESP32/_IDF/sdkconfig.default.esp32c6
Labels: Type: bug

#2978 Update license file
  targets/netcore/nanoFramework.nanoCLR.CLI/License/vspt.vsptlic
  targets/netcore/nanoFramework.nanoCLR.CLI/VirtualSerialBrige/VirtualSerialDeviceManager.cs
Labels: Area: Config-and-Build, Platform: Virtual Device & WIN32, Type: dependencies

#2979 Update Networking Thread assembly signature
  targets/ESP32/_nanoCLR/nanoFramework.Networking.Thread/net_thread_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Networking.Thread/net_thread_native.h
Labels: Type: bug

#2980 Provide source clock frequency on RMT channel
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.Esp32.Rmt/nanoFramework_hardware_esp32_rmt_native_nanoFramework_Hardware_Esp32_Rmt_RmtChannel.cpp
Labels: Type: enhancement

#2981 Enabled Deep sleep for Esp32_H2
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native.h
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_System_Device_Gpio_GpioPulseCounter.cpp
  targets/ESP32/_nanoCLR/targetHAL_Power.c
Labels: Type: bug, Platform: ESP32

#2982 Improvements and fixes in I2C slave
  src/CLR/Core/Hardware/Hardware.cpp
  src/CLR/Include/nanoCLR_Hardware.h
  src/CLR/Include/nanoCLR_Runtime.h
  src/HAL/Include/nanoHAL_v2.h
  targets/ESP32/ESP32/target_system_device_i2c_slave_config.h
  targets/ESP32/_nanoCLR/System.Device.I2c.Slave/sys_dev_i2c_slave_native_System_Device_I2c_I2cSlaveDevice.cpp
  targets/ESP32/_nanoCLR/System.Device.I2c.Slave/sys_dev_i2c_slave_native_target.h
Labels: Type: bug, Type: enhancement, Platform: ESP32

#2984 Work CI-CD
  azure-pipelines-templates/build-espressif-esp32-targets.yml
  install-scripts/install-ninja.ps1
Labels: Area: Config-and-Build

#2985 Fixing FileSystem for ESP32
  targets/ESP32/CMakePresets.json
  targets/ESP32/ESP32/target_FileSystem.cpp
  targets/ESP32/ESP32_C3/target_FileSystem.cpp
  targets/ESP32/ESP32_C6/target_FileSystem.cpp
  targets/ESP32/ESP32_H2/target_FileSystem.cpp
  targets/ESP32/ESP32_S2/target_FileSystem.cpp
  targets/ESP32/ESP32_S3/target_FileSystem.cpp
  targets/ESP32/_IDF/esp32/app_main.c
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_16mb.csv
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_4mb.csv
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_8mb.csv
  targets/ESP32/_common/Target_System_IO_FileSystem.c
  targets/ESP32/_include/Target_System_IO_FileSystem.h
  targets/ESP32/_littlefs/littlefs_FS_Driver.cpp
  targets/ESP32/_nanoCLR/System.IO.FileSystem/nf_sys_io_filesystem_nanoFramework_System_IO_FileSystem_SDCard.cpp
Labels: Type: bug, Type: enhancement, Platform: ESP32

#2986 Improvements in littlefs for virtual device
  azure-pipelines.yml
  targets/netcore/littlefs/hal_littlefs.c
  targets/netcore/littlefs/littlefs_FS_Driver.cpp
Labels: Type: enhancement, Area: Config-and-Build, Platform: Virtual Device & WIN32

#2987 Add generic display to ESP32-C6
  README.md
  targets/ESP32/CMakePresets.json
Labels: Type: enhancement, Type: documentation

#2988 Add ESP32_C6 missing graphics
  targets/ESP32/CMakePresets.json
  targets/ESP32/ESP32_C6/nanoCLR/nanoFramework.Graphics/Graphics_Memory.cpp
  targets/ESP32/ESP32_C6/nanoCLR/nanoFramework.Graphics/Spi_To_TouchPanel.cpp
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_16mb.csv
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_4mb.csv
  targets/ESP32/_IDF/esp32c6/partitions_nanoclr_8mb.csv
Labels: Type: bug, Area: Config-and-Build, Platform: ESP32, Series: ESP32C6

#2989 Migrate Mbed TLS to v3.5.2
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/All/scripts/git-pull-repos.sh
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS.SRC
  .devcontainer/ChibiOS/Dockerfile.ChibiOS
  .devcontainer/ChibiOS/Dockerfile.ChibiOS.SRC
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP.SRC
  CMake/Modules/FindNF_Network.cmake
  CMake/binutils.ChibiOS.cmake
  CMake/binutils.common.cmake
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  src/DeviceInterfaces/System.Net/sys_net_native.cpp
  src/DeviceInterfaces/System.Net/sys_net_native.h
  src/PAL/COM/sockets/ssl/MbedTLS/mbedtls.h
  src/PAL/COM/sockets/ssl/MbedTLS/nf_mbedtls_config.h
  src/PAL/COM/sockets/ssl/MbedTLS/ssl_decode_private_key_internal.cpp
  src/PAL/COM/sockets/ssl/MbedTLS/ssl_generic_init_internal.cpp
  src/PAL/COM/sockets/ssl/ssl_functions.h
  targets/ChibiOS/ORGPAL_PALTHREE/nanoCLR/main.c
  targets/ChibiOS/ST_STM32F769I_DISCOVERY/nanoCLR/main.c
  targets/ChibiOS/_nanoCLR/mbedtls_entropy_hardware_pool.c
  targets/ESP32/_IDF/esp32/app_main.c
  targets/ESP32/_IDF/sdkconfig.default
  targets/ESP32/_IDF/sdkconfig.default.esp32c3
  targets/ESP32/_IDF/sdkconfig.default.esp32c6
  targets/ESP32/_IDF/sdkconfig.default.esp32s2
  targets/ESP32/_IDF/sdkconfig.default.esp32s3
  targets/ESP32/_IDF/sdkconfig.default_ble.esp32s3
  targets/ESP32/_IDF/sdkconfig.default_ble_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_ble.esp32
  targets/ESP32/_IDF/sdkconfig.default_nopsram_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_octal_ble.esp32s3
  targets/ESP32/_IDF/sdkconfig.default_pico
  targets/ESP32/_IDF/sdkconfig.default_pico_ble_rev3
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3.esp32c3
  targets/ESP32/_IDF/sdkconfig.default_rev3_ipv6.esp32
  targets/ESP32/_IDF/sdkconfig.default_rev3_noconsole.esp32c3
  version.json
Labels: Type: enhancement, Area: Config-and-Build, Area: Common libs, Type: dependencies, Breaking-change, Platform: STM32, Platform: ESP32, Platform: NXP, Area: Dev-Containers

#2990 Minor improvements in virtual device
  targets/netcore/nanoFramework.nanoCLR.CLI/ClrInstanceOperationsProcessor.cs
  targets/netcore/nanoFramework.nanoCLR.Host/Interop/nanoCLR.cs
  targets/netcore/nanoFramework.nanoCLR.Host/NanoClrHostBuilder.cs
Labels: Type: enhancement, Platform: Virtual Device & WIN32

#2991 Upgrade ESP32 IDF to v5.2.2
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/ESP32/Dockerfile.ESP32
  .devcontainer/ESP32/Dockerfile.ESP32.SRC
  CMake/Modules/FindESP32_IDF.cmake
  CMake/binutils.ESP32.cmake
  azure-pipelines-nightly.yml
  azure-pipelines-templates/build-espressif-esp32-targets.yml
  azure-pipelines-templates/download-install-esp32-build-components.yml
  azure-pipelines.yml
  targets/ESP32/CMakeLists.txt
  targets/ESP32/_Network/NF_ESP32_OpenThread.cpp
  targets/ESP32/_nanoCLR/System.Device.Pwm/sys_dev_pwm_native_System_Device_Pwm_PwmChannel.cpp
  targets/ESP32/_nanoCLR/System.Device.Spi/cpu_spi.cpp
  targets/ESP32/_nanoCLR/System.IO.Ports/sys_io_ser_native_System_IO_Ports_SerialPort.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_Hardware_Esp32_Sleep.cpp
  targets/ESP32/_nanoCLR/nanoFramework.Hardware.ESP32/nanoFramework_hardware_esp32_native_nanoFramework_Hardware_Esp32_Touch_TouchPad.cpp
  version.json
Labels: Type: enhancement, Area: Config-and-Build, Type: dependencies, Platform: ESP32, Area: Dev-Containers

#2888 Add implementation for AES CBC in Sys.Security.Crypto
  src/nanoFramework.System.Security.Cryptography/nf_sys_sec_cryptography.cpp
  src/nanoFramework.System.Security.Cryptography/nf_sys_sec_cryptography.h
  src/nanoFramework.System.Security.Cryptography/nf_sys_sec_cryptography_System_Security_Cryptography_Aes.cpp
Labels: Type: enhancement, Type: dependencies

#2992 Update Mbed TLS to v3.6.0
  .devcontainer/All/Dockerfile.All
  .devcontainer/All/Dockerfile.All.SRC
  .devcontainer/All/scripts/git-pull-repos.sh
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS
  .devcontainer/AzureRTOS/Dockerfile.AzureRTOS.SRC
  .devcontainer/ChibiOS/Dockerfile.ChibiOS
  .devcontainer/ChibiOS/Dockerfile.ChibiOS.SRC
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP
  .devcontainer/FreeRTOS-NXP/Dockerfile.FreeRTOS-NXP.SRC
  CMake/binutils.common.cmake
  src/PAL/COM/sockets/ssl/MbedTLS/ssl_generic.cpp
Labels: Type: dependencies, Platform: STM32, Platform: ESP32, Platform: NXP

#2994 Add option to suppress linker warning about RWX sections
  CMake/Modules/AzureRTOS_EFM32GG11_GCC_options.cmake
  CMake/Modules/AzureRTOS_MAX78000_GCC_options.cmake
  CMake/Modules/AzureRTOS_MICROBIT_GCC_options.cmake
  CMake/Modules/AzureRTOS_RP2040_GCC_options.cmake
  CMake/Modules/AzureRTOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/AzureRTOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F4xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32F7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32H7xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L0xx_GCC_options.cmake
  CMake/Modules/CHIBIOS_STM32L4xx_GCC_options.cmake
  CMake/Modules/FreeRTOS_IMXRT10xx_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC13X2_GCC_options.cmake
  CMake/Modules/TI_SimpleLink_CC32xx_GCC_options.cmake
Labels: Area: Config-and-Build
